    <!-- Begin Footer -->

    <div id="footer">
      <!-- Begin Footer Content Wrap -->

      <div class="wrap">
        <!-- Begin Footer Left Column -->

        <div class="leftcol">
          <div id="accolades">
          @Html.Partial("Quotes")
          </div>
        </div><!-- End Footer Left Column -->
        <!-- Begin Footer Right Column -->

        <div class="rightcol"></div><!-- End Footer Right Column -->
        <!-- Begin Full Width Column -->

        <div class="fullcol">
          <!-- Begin Newsletter Signup -->

          <div id="newsletter">
            <p>Looking for the latest Canyon Creek Ranch news, from product information to special offers?</p>

            <form method="POST" action="/register-email">
              <label class="medium_white_text">Join the Journey</label> <input type="text" value="Enter your email address" class="blur" name="email" /> <input type="submit" value="SUBMIT &#187;" />
            </form>
          </div><!-- End Newsletter Signup -->
          <!-- Begin Footer Nav -->

          <div id="footer_nav">
            <ul>

              <li><a href="http://signin.canyoncreekranch.com/contact/">Contact Us</a></li>

              <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>

              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li class="last"><a href="/site-map">Site Map</a></li>
            </ul>
          </div><!-- End Footer Nav -->
        </div><!-- End Full Width Column -->
      </div><!-- End Footer Content Wrap -->
    </div><!-- End Footer -->