<div id="footer">
        <!-- Begin Footer Content Wrap -->

        <div class="wrap">
          <!-- Begin Footer Left Column -->

          <div class="leftcol">
            <div id="accolades">
              <p>&#8220;Of course my life is busy. But one thing I never worry about is my dogs' nutrition. I choose premium pet food so that I know they have the very best... and that they'll be around for a long time&#8221;</p><span class="small_grey_text">&#8212;Cheryl Calcaterra, with Maverick and Charlie</span>
            </div>
          </div><!-- End Footer Left Column -->
          <!-- Begin Footer Right Column -->

          <div class="rightcol">
            <h6>WHAT’S HAPPENING</h6>

            <ul id="whats_happening">
              <li><a href="#">Article title About Natural Pet Food &#187;</a></li>

              <li><a href="#">Article title that is really long and goes two lines About Natural Pet Food &#187;</a></li>

              <li><a href="#">Article About Natural Pet Food &#187;</a></li>
            </ul>
          </div><!-- End Footer Right Column -->
          <!-- Begin Full Width Column -->

          <div class="fullcol">
            <!-- Begin Newsletter Signup -->

            <div id="newsletter">
              <p>Looking for the latest canyon creek ranch news, from product information to special offers?</p>

              <form>
                <label class="medium_white_text">Begin the Journey</label> <input type="text" value="Enter your email address" class="blur" /> <input type="submit" value="SUBMIT &#187;" />
              </form>
            </div><!-- End Newsletter Signup -->
            <!-- Begin Footer Nav -->

            <div id="footer_nav">
              <ul>
                <li><a href="/contact">Contact</a></li>

                <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>

                <li class="last"><a href="/site-map">Site Map</a></li>
              </ul>
            </div><!-- End Footer Nav -->
            <!-- Begin Legal -->

            <div id="legal">
              <p>All trademarks and other intellectual properties on this site are owned by Société des Produits Nestlé S.A., Vevey, Switzerland or are used with permission.</p>
            </div><!-- End Legal -->
          </div><!-- End Full Width Column -->
        </div><!-- End Footer Content Wrap -->
      </div><!-- End Footer -->