<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Canyon Creek Ranch | Natural Food for Dogs and Cats</title>
  @if(IsSectionDefined("Meta")) {
    @RenderSection("Meta", false)
  } else {
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Mesh" />
  <meta name="robots" content="index,follow" />
  }
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="/css/global.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/videojs.css" media="screen" />
  <link rel="icon" href="favicon.ico" />
  <link rel="shortcut icon" href="favicon.png" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
  <script type="text/javascript" src="/scripts/plugins.js">
</script>
  <script type="text/javascript" src="/scripts/global.js">
</script>
<script type="text/javascript" src="scripts/videojs.js">
</script>
  <script type="text/javascript" src="http://use.typekit.com/mjd4oea.js">
</script>
  <script type="text/javascript">
//<![CDATA[
    try{Typekit.load();}catch(e){}
    //]]>
  </script>
  <script type="text/javascript" src="//nexus.ensighten.com/purina/Bootstrap.js"></script>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9335569-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</head>
<body>
  <div id="container">
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
  </div>
</body>
</html>
