<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Canyon Creek Ranch | Natural Food for Dogs and Cats</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Mesh" />
  <meta name="robots" content="index,follow" />
  <link rel="stylesheet" type="text/css" href="css/global.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
  <link rel="icon" href="favicon.ico" />
  <link rel="shortcut icon" href="favicon.png" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
  <script type="text/javascript" src="scripts/plugins.js">
</script>
  <script type="text/javascript" src="scripts/global.js">
</script>
  <script type="text/javascript" src="http://use.typekit.com/mjd4oea.js">
</script>
  <script type="text/javascript">
//<![CDATA[
    try{Typekit.load();}catch(e){}
    //]]>
  </script>
</head>
<body>
  <div id="container">
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
  </div>
</body>
</html>
