    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <div id="clear_content"></div><!-- Begin Left Column -->

        <div class="leftcol625 retailers">
          <h1>Find a retailer</h1>

          <p>Here are some retailers where you can purchase Canyon Creek Ranch<sup>&reg;</sup> dog and cat food. We hope that these will be of help to you.</p>
          <hr />

          <h2>WHERE TO BUY CANYON CREEK RANCH ONLINE</h2>

          <p><a href="http://www.petsmart.com" target="_blank"><strong><em>PetSmart</em></strong></a></p>

          <p><a href="http://www.petco.com" target="_blank"><strong><em>PETCO</em></strong></a></p>

          <p><a href="http://www.petfooddirect.com" target="_blank"><strong><em>PetFoodDirect</em></strong></a></p>

          <p><a href="http://www.thehungrypuppy.com" target="_blank"><strong><em>The Hungry Puppy</em></strong></a></p>
          <hr />

          <h2>WHERE TO BUY CANYON CREEK RANCH IN-STORE</h2>

          <p>Andersons: <a href="http://www.andersonsstore.com" target="_blank"><strong><em>www.andersonsstore.com</em></strong></a></p>

          <p>A.W. Brown's: <a href="http://www.awbrown.com" target="_blank"><strong><em>www.awbrown.com</em></strong></a></p>

          <p>Bergantino Agway-CT: <a href="http://www.myagway.com" target="_blank"><strong><em>www.myagway.com</em></strong></a></p>

          <p>Care-A-Lot Pet Supply: <a href="http://www.carealotpets.com" target="_blank"><strong><em>www.carealotpets.com</em></strong></a></p>

          <p>Complete Petmart: <a href="http://www.completepetmart.com" target="_blank"><strong><em>www.completepetmart.com</em></strong></a></p>

          <p>A.W. Brown's: <a href="http://www.awbrown.com" target="_blank"><strong><em>www.awbrown.com</em></strong></a></p>

          <p>Bergantino Agway-CT: <a href="http://www.myagway.com" target="_blank"><strong><em>www.myagway.com</em></strong></a></p>

          <p>Care-A-Lot Pet Supply: <a href="http://www.carealotpets.com" target="_blank"><strong><em>www.carealotpets.com</em></strong></a></p>

          <p>Complete Petmart: <a href="http://www.completepetmart.com" target="_blank"><strong><em>www.completepetmart.com</em></strong></a></p>

          <p>A.W. Brown's: <a href="http://www.awbrown.com" target="_blank"><strong><em>www.awbrown.com</em></strong></a></p>

          <p>Bergantino Agway-CT: <a href="http://www.myagway.com" target="_blank"><strong><em>www.myagway.com</em></strong></a></p>

          <p>Care-A-Lot Pet Supply: <a href="http://www.carealotpets.com" target="_blank"><strong><em>www.carealotpets.com</em></strong></a></p>

          <p>Complete Petmart: <a href="http://www.completepetmart.com" target="_blank"><strong><em>www.completepetmart.com</em></strong></a></p>

          <p>A.W. Brown's: <a href="http://www.awbrown.com" target="_blank"><strong><em>www.awbrown.com</em></strong></a></p>

          <p>Bergantino Agway-CT: <a href="http://www.myagway.com" target="_blank"><strong><em>www.myagway.com</em></strong></a></p>

          <p>Care-A-Lot Pet Supply: <a href="http://www.carealotpets.com" target="_blank"><strong><em>www.carealotpets.com</em></strong></a></p>

          <p>Complete Petmart: <a href="http://www.completepetmart.com" target="_blank"><strong><em>www.completepetmart.com</em></strong></a></p>
        </div><!-- End Left Column -->
        <!-- Begin Sidebar -->

        <div class="sidebar">
          <!-- Begin Sidebar Promo -->

          <div id="sidebar_promo" class="margintop40">
            <a href="#">TRY &amp;<br />
            <span>SAVE</span></a>
          </div><!-- End Sidebar Promo -->
          <!-- Begin Sidebar Ingredient Dictionary -->

          <div id="sidebar_ingredient_dictionary">
            <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
            with our<br />
            <span>INGREDIENTS DICTIONARY</span></a>
          </div><!-- End Sidebar Ingredient Dictionary -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural End Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Sidebar -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
