    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <div id="clear_content"></div><!-- Begin Left Column -->

        <div class="leftcol625 retailers">
          <h1>Find a retailer</h1>

          <p>Here are some retailers where you can purchase Canyon Creek Ranch dog and cat food. We hope that these will be of help to you.</p>
          <hr />

          <h2>WHERE TO BUY CANYON CREEK RANCH ONLINE</h2>

                <p>Petco.com <a href="http://www.petco.com" target="_blank"><strong><em>www.petco.com</em></strong></a></p>

                <p>PetFoodDirect.com <a href="http://www.petfooddirect.com" target="_blank"><strong><em>www.petfooddirect.com</em></strong></a></p>

                <p>Wag.com <a href="http://www.wag.com" target="_blank"><strong><em>www.wag.com</em></strong></a></p>

                <p>Petflow.com <a href="http://www.petflow.com" target="_blank"><strong><em>www.petflow.com</em></strong></a></p>
                <hr />

          <h2>WHERE TO BUY CANYON CREEK RANCH IN-STORE</h2>

                <p>Petco <a href="http://www.petco.com" target="_blank"><strong><em>www.petco.com</em></strong></a></p>

                <p>The Andersons <a href="http://www.andersonsstore.com" target="_blank"><strong><em>www.andersonsstore.com</em></strong></a></p>

                <p>K9 Specialties</p>

                <p>Animal Pantry</p>



                <p>Agway <a href="http://www.agway.com" target="_blank"><strong><em>www.agway.com</em></strong></a></p>

                <p>Dave's Soda &amp; Pet City <a href="http://www.davessodaandpetcity.com" target="_blank"><strong><em>www.davessodaandpetcity.com</em></strong></a></p>

                <p>Pet Supplies Plus <a href="http://www.petsuppliesplus.com" target="_blank"><strong><em>www.petsuppliesplus.com</em></strong></a></p>



                <p>Pet Club <a href="http://www.petclubstores.com" target="_blank"><strong><em>www.petclubstores.com</em></strong></a></p>

                <p>Russel Feed <a href="http://www.russellfeedandsupply.com" target="_blank"><strong><em>www.russellfeedandsupply.com</em></strong></a></p>

                <p>Mounds Pet Food Warehouse <a href="http://www.moundspet.com" target="_blank"><strong><em>www.moundspet.com</em></strong></a></p>



        </div><!-- End Left Column -->
        <!-- Begin Sidebar -->

        <div class="sidebar">
          <!-- Begin Sidebar Promo -->

          <div id="sidebar_promo" class="margintop20">
            <a href="#">TRY &amp;<br />
            <span>SAVE</span></a>
          </div><!-- End Sidebar Promo -->
          <!-- Begin Sidebar Ingredient Dictionary -->

          <div id="sidebar_ingredient_dictionary">
            <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
            with our<br />
            <span>INGREDIENTS DICTIONARY</span></a>
          </div><!-- End Sidebar Ingredient Dictionary -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD<br />
            <span class="tiny_white_text">plus vitamins and minerals</span></a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural End Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD<br />
            <span class="tiny_white_text">plus vitamins and minerals</span</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Sidebar -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
