    <!-- Begin Content -->

    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <div id="clear_content"></div><!-- Begin Left Column -->

        <div class="leftcol625">
          <h1>Our Better Way Guarantee</h1>
          <h3>Cat &amp; Dog Dry</h3>

                <p>If this food has not met your expectations, we will refund the amount of your purchase. Just send us the "Best Buy" date box and UPC from the bag with your original store receipt (with the price circled), your name, address and reason for return within 60 days of purchase.  Mail to: Canyon Creek Ranch Satisfaction Guarantee, Office of Consumer Affairs, P.O. Box 1326, Wilkes-Barre, PA 18703”</p>
                
                <h3>Cat &amp; Dog Canned</h3>
       
                <p>We’re so confident in the nutrition and flavor in Canyon Creek Ranch that we guarantee you and your dog or cat will both love it. If for any reason you’re not satisfied with our product, simply let us know why. Include the "Best If Used By" date information from the bottom of the can and the UPC from the label so we can refund your purchase price.  Please include the your purchase receipt with price circled and your name and address within 60 days of purchase.  Mail to: Canyon Creek Ranch Satisfaction Guarantee, Office of Consumer Affairs, P.O. Box 1326 Wilkes-Barre, PA 18703</p> 
                
                
                
        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="sidebar">
          <!-- Begin Sidebar Promo -->

          <div id="sidebar_promo" class="margintop40">
            <a href="#">SAVE<br />
            <span>NOW</span></a>
          </div><!-- End Sidebar Promo -->
          <!-- Begin Sidebar Ingredient Dictionary -->

          <div id="sidebar_ingredient_dictionary">
            <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
            with our<br />
            <span>INGREDIENTS DICTIONARY</span></a>
          </div><!-- End Sidebar Ingredient Dictionary -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural End Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Right Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
