    <!-- Begin Content -->

    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Banner -->

        <div class="banner">
          <!-- Begin Banner Image -->

          <div id="banner_image"></div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <hr />
        <!-- Begin Left Column 625px Wide -->

        <div class="leftcol625">
          <h6>Simple is real.</h6>

          <p>Keeping it simple with real, natural ingredients is something we truly believe in. Our philosophy for healthy pet food comes from the inspiring lives we share with our dogs and cats. The moment we see that playful, lovable, free spirit in each of our pets, we seek out the right nutrition to support and complement that personality and way of life.</p><!-- Begin Tabs -->

          <ul class="tabs" style="margin-top: 20px;">
            <li><a href="#tab1">Ingredients</a></li>

            <li><a href="#tab2">Quality Assurance</a></li>

            <li><a href="/holistic-living">Holistic Living</a></li>
          </ul><!-- End Tabs -->
          <!-- Begin Ingredients Tab Content -->

          <div class="clear pane">
            <div>
              <h1>HEALTHY PET FOOD</h1>

              <p>Every recipe includes high-quality sources of protein, whole grains, and antioxidants to help support a healthy lifestyle. We expect the best for our dogs and cats, so we use natural ingredients and never add artificial colors, flavors, or preservatives. And, our formulas contain no corn, no wheat, and no soy. Healthy, natural pet food is simply what we want to provide for our pets.</p>

              <h2>WHOLESOME SNACKS FOR DOGS</h2>

              <p>Snack time is together time, a celebration that brings us closer to our dogs. It’s such a special moment. We want to ensure we’re rewarding our dogs with great tasting snacks made with wholesome ingredients.</p>

              <p>We offer a variety of fun snacks using simple, natural ingredients. Savory, slow-cooked chicken breast, flavorful baked chews, slices of apple and banana wrapped with chicken breast filets, and crunchy chicken and rice bites are just a part of our wide range of snacks. There are three words that mean everything when it comes to our snacks– wholesome, tasty, and fun.</p>
            </div>
          </div><!-- End Ingredients Tab Content -->
          <!-- Begin Quality Tab Content -->

          <div class="clear pane">
            <p>Every day we work to ensure product quality and safety and we stand behind every Canyon Creek Ranch<sup>&reg;</sup> product. Below are our standards for maintaining the integrity and safety of our food and snacks.</p>

            <ul class="list">
              <li>All Canyon Creek Ranch cat food, dog food, and dog snacks are manufactured at certified facilities inspected regularly by our own Quality Assurance team and third party independent auditors.</li>

              <li>Canyon Creek Ranch uses only high-quality ingredients in its products, and the production facilities are designed and operated to meet USDA standards.</li>

              <li>We have a dedicated team of quality control experts in the plants when the products are being produced. They monitor various steps of the manufacturing process for safety and quality of the product.</li>

              <li>Our quality control group seeks to monitor the good manufacturing practices of our suppliers. Our safety inspection program has specific protocols and practices to help ensure proper food handling sanitation practices, cooking procedures and traceability of all lots back to the raw ingredients.</li>

              <li>Canyon Creek Ranch has a comprehensive food safety program in place to ensure the safety of our products.</li>

              <li>We maintain a strict code of standards for buying, storing and processing ingredients. These standards are among the strictest, if not the strictest, in the pet food industry.</li>

              <li>We have a very rigorous evaluation and sampling program in place for all raw materials and have quality assurance specialists at each of our North American pet food manufacturing facilities that are trained to sample and/or analyze incoming ingredients.</li>
            </ul>
          </div><!-- End Quality Tab Content -->
          <!-- Begin Holistic Tab Content -->

          <div class="clear pane">
            <h2>Holistic Living with Your Pet</h2>

            <p>At Canyon Creek Ranch, we believe in holistic living. Our search for a better way means taking a wide-open approach. And for us, finding a better way doesn’t stop at providing healthy pet food. It is about embracing the experience of living side-by-side with our pets. Like the four points of a compass, we believe there are four guideposts that lead to a holistic lifestyle with your pet: Connection, Activity, Nourishment and Optimism.</p>

            <p>When these areas come together, we discover true balance. This is how we live our philosophy, &#8220;a better way,&#8221; each and every day.</p>

            <h3><em><a href="/holistic-living">Learn More &#187;</a></em></h3>
          </div><!-- End Holistic Tab Content -->
        </div><!-- End Left Column 625px Wide -->
        <!-- Begin Sidebar Column -->

        <div class="sidebar">
          <!-- Begin Ingredient Dictionary -->

          <div id="sidebar_ingredient_dictionary">
            <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
            with our<br />
            <span>INGREDIENTS DICTIONARY</span></a>
          </div><!-- End Ingredient Dictionary -->
          <!-- Begin Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Natural Cat Food -->
          <!-- Begin Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Natural Dog Food -->
          <!-- Begin Promo -->

          <div id="sidebar_promo">
            <a href="#">SAVE<br />
            <span>NOW</span></a>
          </div><!-- End Promo -->
        </div><!-- End Sidebar Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
    <!-- Begin Clear Content -->

        <div id="clear_content"></div><!-- End Clear Content -->
