    <!-- Begin Content -->

    <div id="content" class="holistic">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Banner -->

        <div class="banner">
          <!-- Begin Banner Image -->

          <div id="banner_image"></div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Full Column -->

        <div class="fullcol intro">
          <h1>Holistic Living with Your Pet</h1>

          <p class="intro">At Canyon Creek Ranch, we believe in holistic living. Our search for a better way means taking a wide-open approach. And for us, finding a better way doesn't stop at providing healthy pet food. It is about embracing the experience of living side-by-side with our pets. Like the four points of a compass, we believe there are four guideposts that lead to a holistic lifestyle with your pet: Connection, Activity, Nourishment and Optimism.</p>

          <p>When these areas come together, we discover true balance. This is how we live our philosophy, &#8220;A Better Way&trade;,&#8221; each and every day.</p>
        </div><!-- End Full Column -->
        <!-- Begin Full Column -->

        <div class="fullcol">
          <!-- Begin Tabs -->

          <ul class="tabs">
            <li><a href="#tab1" class="marginright25">Connection</a></li>

            <li><a href="#tab2" class="marginright25">Activity</a></li>

            <li><a href="#tab3" class="marginright25">Nourishment</a></li>

            <li><a href="#tab4">Optimism</a></li>
          </ul><!-- End Tabs -->
          <!-- Begin Connection Tab Content -->

          <div class="clear pane">
            <!-- Begin Left Column 625px Wide -->

            <div class="leftcol625">
              <h2>CONNECTION</h2>

              <p>Connection is all about the relationship we share with our pets. It is a meaningful bond &#8212; a unique understanding between our pets and ourselves. Sensing that we look out for one another makes our lives better and more fulfilled. Here are just some of our favorite tips for strengthening and celebrating this connection: </p>

              <ul class="list">
                <li>Stress melts in the eyes of your best friend. Take a moment to bond every day.</li>

                <li>If you groom your dog, don’t think of it as a chore. Let it be a relaxing, meditative time.</li>

                <li>Connect with like-minded pet owners. Being part of something so genuine feels good.</li>

                <li>While petting your dog or cat, focus completely on him or her, especially if you’ve had a rough day. You’ll both feel better.</li>

                <li>Read up on animal behavior to help interpret some of your pet’s subtle cues. It is a great way to deepen the connection with your best friend, who reads your cues so well.</li>
              </ul>
            </div><!-- End Left Column 625px Wide -->
            <!-- Begin Sidebar Column -->

            <div class="sidebar">
              <!-- Begin Ingredient Dictionary -->

              <div id="sidebar_ingredient_dictionary">
                <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
                with our<br />
                <span>INGREDIENTS DICTIONARY</span></a>
              </div><!-- End Ingredient Dictionary -->
              <!-- Begin Promo -->

              <div id="sidebar_promo">
                <a href="@((string)TempData["coupon"])">TRY &amp;<br />
                <span>SAVE</span></a>
              </div><!-- End Promo -->
            </div><!-- End Sidebar Column -->
          </div><!-- End Connection Tab Content -->
          <!-- Begin Activity Tab Content -->

          <div class="clear pane">
          <!-- Begin Left Column 625px Wide -->

            <div class="leftcol625">
              <h2>ACTIVITY</h2>

              <p>Being active gets the blood flowing and the endorphins kicking, and it's good for all of us. Best part is that it can fit into any part of our day. Big actions or little moments, they are all part of a better way.</p>

              <ul class="list">
                <li>When you take your dog (or cat!) for a walk, stand up straight and breathe deeply. Use the time to reenergize.</li>

                <li>Let playtime become a time to stretch both of your imaginations. Invent new games with the same toys, or hide new surprises for your pet to "hunt" around the yard.</li>

                <li>If you're wearing out the sidewalk with the same route around the neighborhood, change it up by venturing down a new path.</li>

                <li>Your pet loves to be by your side. Reward him with some positive reinforcement when he joins you for that quick trip upstairs or to the kitchen.</li>
              </ul>
            </div><!-- End Left Column 625px Wide -->
            <!-- Begin Sidebar Column -->

            <div class="sidebar">
              <!-- Begin Ingredient Dictionary -->

              <div id="sidebar_ingredient_dictionary">
                <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
                with our<br />
                <span>INGREDIENTS DICTIONARY</span></a>
              </div><!-- End Ingredient Dictionary -->
              <!-- Begin Promo -->

              <div id="sidebar_promo">
                <a href="#">TRY &amp;<br />
                <span>SAVE</span></a>
              </div><!-- End Promo -->
            </div><!-- End Sidebar Column -->
          </div><!-- End Activity Tab Content -->
          <!-- Begin Nourishment Tab Content -->

          <div class="clear pane">
            <!-- Begin Left Column 625px Wide -->

            <div class="leftcol625">
              <h3>NOURISHMENT</h3>

              <p>From the inside out, the right nourishment makes everything else possible. Here are just a few ideas on improving this area for your pet.</p>

              <ul class="list">
                <li>Create an easily accessible space for your pet to eat, and get down on his level to experience what he is experiencing. Make sure it is free from distractions.</li>

                <li>Understand your pet's age, and how it factors into what nourishment he needs to feel his best.</li>

                <li>Think of nutrition requirements as part of your pet's life too. Read the label and feeding guidelines the way you read food labels for yourself.</li>

                <li>Just like eating well makes you feel good, eating well has a positive effect on your pet too. Pay attention to your pet’s activity level as a cue to his physical state.</li>
              </ul>
            </div><!-- End Left Column 625px Wide -->
            <!-- Begin Sidebar Column -->

            <div class="sidebar">
              <!-- Begin Ingredient Dictionary -->

              <div id="sidebar_ingredient_dictionary">
                <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
                with our<br />
                <span>INGREDIENTS DICTIONARY</span></a>
              </div><!-- End Ingredient Dictionary -->
              <!-- Begin Promo -->

              <div id="sidebar_promo">
                <a href="#">TRY &amp;<br />
                <span>SAVE</span></a>
              </div><!-- End Promo -->
            </div><!-- End Sidebar Column -->
          </div><!-- End Nourishment Tab Content -->
          <!-- Begin Optimism Tab Content -->

          <div class="clear pane">
            <!-- Begin Left Column 625px Wide -->

            <div class="leftcol625">
              <h3>OPTIMISM</h3>

              <p>Seeing the day for what’s possible &#8212; this is the guiding principle of finding a better way. Our pets bring their inherently positive attitude to us every day, making us healthier and happier as we share our life’s journey with them.</p>

              <ul class="list">
                <li>Revel in your pet’s antics. A good laugh goes a long way.</li>

                <li>Variety is good for both of you. Choose one day each month, where you and your pet try something different like a new park or new toy.</li>

                <li>Go ahead and set that alarm clock early to enjoy the sunrise together.</li>

                <li>Be a part of the future you want for you and your pet. Donate time or money to organizations that help animals.</li>
              </ul>
            </div><!-- End Left Column 625px Wide -->
            <!-- Begin Sidebar Column -->

            <div class="sidebar">
              <!-- Begin Ingredient Dictionary -->

              <div id="sidebar_ingredient_dictionary">
                <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
                with our<br />
                <span>INGREDIENTS DICTIONARY</span></a>
              </div><!-- End Ingredient Dictionary -->
              <!-- Begin Promo -->

              <div id="sidebar_promo">
                <a href="#">TRY &amp;<br />
                <span>SAVE</span></a>
              </div><!-- End Promo -->
            </div><!-- End Sidebar Column -->
          </div><!-- End Optimism Tab Content -->
        </div><!-- End Full Column -->
         
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
    <!-- Begin Clear Content -->

        <div id="clear_content"></div><!-- End Clear Content -->