<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: CCR Ingredient Dictionary Page
URL of the webpage where the tag is expected to be placed: http://www.canyoncreekranch.com/ingredient-dictionary
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 07/31/2012
-->
<script type="text/javascript">
  var axel = Math.random() + "";
  var a = axel * 10000000000000;
  document.write('<iframe src="http://fls.doubleclick.net/activityi;src=2649772;type=canyo518;cat=ccrin985;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
  <iframe src="http://fls.doubleclick.net/activityi;src=2649772;type=canyo518;cat=ccrin985;ord=1;num=1?"
    width="1" height="1" frameborder="0" style="display: none" k></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<!-- Begin Content -->
<div id="content" class="health_and_nutrition">
  <!-- Begin Content Wrap -->
  <div class="wrap">
    <!-- Begin Left Column -->
    <div class="leftcol625 margintop40">
      <h1>
        Ingredient Dictionary</h1>
      <img src="/img/health/healthy-ingredients.png" class="margin10" alt="Real Ingredients" />
      <p>
        Choose an ingredient from the list on the left for a description of the ingredient's
        nutritional elements, how it benefits specific parts of your pet's body.</p>
      <p>
        This ingredient dictionary serves as a guide for our dog &amp; cat food products.</p>
      <img src="/img/health/formulated.jpg" alt="Formulated with" />
      <p class="small_brown_text">
        INGREDIENTS</p>
      <div id="ingredient_list">
        <ul id="ingredients">
          <li><a href="#barley">Barley</a></li>
          <li><a href="#beef">Beef</a></li>
          <li><a href="#beef_broth">Beef Broth</a></li>
          <li><a href="#beef_fat">Beef Fat
            <br />
            (preserved with
            <br />
            mixed-tocopherols) </a></li>
          <li><a href="#biotin">Biotin</a></li>
          <li><a href="#blueberry_pomace">Blueberry Pomace</a></li>
          <li><a href="#brewers_yeast">Brewers dried yeast</a></li>
          <li><a href="#brewers_rice">Brewers rice</a></li>
          <li><a href="#brown_rice">Brown rice</a></li>
          <li><a href="#calcium_carbonate">Calcium carbonate</a></li>
          <li><a href="#calcium_iodate">Calcium iodate</a></li>
          <li><a href="#calcium_pantothenate">Calcium pantothenate</a></li>
          <li><a href="#calcium_phosphate">Calcium phosphate</a></li>
          <li><a href="#canola_meal">Canola Meal</a></li>
          <li><a href="#carrageenan">Carrageenan</a></li>
          <li><a href="#carrots">Carrots</a></li>
          <li><a href="#catfish">Catfish</a></li>
          <li><a href="#chicken">Chicken</a></li>
          <li><a href="#chicken_broth">Chicken Broth</a></li>
          <li><a href="#chicken_meal">Chicken meal</a></li>
          <li><a href="#choline_chloride">Choline chloride</a></li>
          <li><a href="#cod">Cod</a></li>
          <li><a href="#copper_proteinate">Copper proteinate</a></li>
          <li><a href="#copper_sulfate">Copper sulfate</a></li>
          <li><a href="#dl_methionine">DL-methionine</a></li>
          <li><a href="#dried_beet_pulp">Dried Beet Pulp</a></li>
          <li><a href="#dried_egg">Dried Egg product</a></li>
          <li><a href="#egg_product">Egg Product</a></li>
          <li><a href="#ferrous_sulfate">Ferrous sulfate</a></li>
          <li><a href="#fish_broth">Fish Broth</a></li>
          <li><a href="#fish_oil">Fish oil</a></li>
          <li><a href="#folic_acid">Folic Acid</a></li>
          <li><a href="#gelatin">Gelatin</a></li>
          <li><a href="#guar_gum">Guar Gum</a></li>
          <li><a href="#liver">Liver</a></li>
          <li><a href="#l_lysine_monohydrochloride">L-lysine<br />
            monohydrochloride</a></li>
          <li><a href="#malted_barley_flour">Malted Barley Flour</a></li>
          <li><a href="#manganese_proteinate">Manganese proteinate</a></li>
          <li><a href="#manganese_sulfate">Manganese sulfate</a></li>
          <li><a href="#menadione_sodium_bisulfite_complex">Menadione sodium<br />
            bisulfite complex</a></li>
          <li><a href="#natural_flavor">Natural Flavor</a></li>
          <li><a href="#niacin">Niacin</a></li>
          <li><a href="#ocean_whitefish">Ocean Whitefish</a></li>
          <li><a href="#pea_fiber">Pea Fiber</a></li>
          <li><a href="#pea_protein">Pea Protein</a></li>
          <li><a href="#pearled_barley">Pearled Barley</a></li>
          <li><a href="#phosphoric_acid">Phosphoric Acid</a></li>
          <li><a href="#potassium_chloride">Potassium chloride</a></li>
          <li><a href="#potassium_iodide">Potassium Iodide</a></li>
          <li><a href="#potato">Potato</a></li>
          <li><a href="#pyridoxine_hydrochloride">Pyridoxine hydrochloride</a></li>
          <li><a href="#riboflavin_supplement">Riboflavin supplement</a></li>
          <li><a href="#salmon">Salmon</a></li>
          <li><a href="#salt">Salt</a></li>
          <li><a href="#shrimp">Shrimp</a></li>
          <li><a href="#sodium_caseinate">Sodium Caseinate</a></li>
          <li><a href="#sodium_selenite">Sodium selenite</a></li>
          <li><a href="#spinach">Spinach</a></li>
          <li><a href="#sweet_potato">Sweet Potato</a></li>
          <li><a href="#taurine">Taurine</a></li>
          <li><a href="#thiamine_mononitrate">Thiamine mononitrate</a></li>
          <li><a href="#tomato">Tomato</a></li>
          <li><a href="#trout">Trout</a></li>
          <li><a href="#turkey">Turkey</a></li>
          <li><a href="#turkey_broth">Turkey Broth</a></li>
          <li><a href="#vitamin_a_supplement">Vitamin A supplement</a></li>
          <li><a href="#vitamin_b12_supplement">Vitamin B12 supplement</a></li>
          <li><a href="#vitamin_d3_supplement">Vitamin D3 supplement</a></li>
          <li><a href="#vitamin_e_supplement">Vitamin E supplement</a></li>
          <li><a href="#wild_rice">Wild Rice</a></li>
          <li><a href="#zinc_proteinate">Zinc Proteinate</a></li>
          <li><a href="#zinc_sulfate">Zinc Sulfate</a></li>
          <li><a href="#zucchini">Zucchini</a></li>
        </ul>
        <!-- End Ingredient List -->
      </div>
      <div class="ingredient_dictionary list">
        <div id="barley">
          <h1>
            Barley</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Carbohydrate including fiber to provide energy and support digestive tract health.</p>
        </div>
        <div id="beef">
          <h1>
            Beef</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="beef_broth">
          <h1>
            Beef Broth</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Flavorful functional ingredient provides moisture for processing.</p>
        </div>
        <div id="beef_fat">
          <h1>
            Beef Fat (preserved with mixed-tocopherols)</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Provides energy, fatty acids and a matrix for transport of fat-soluble vitamins.
          </p>
        </div>
        <div id="biotin">
          <h1>
            Biotin</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            An essential B-complex vitamin. Necessary for proper fat, glucose, amino acid and
            energy metabolism.</p>
        </div>
        <div id="blueberry_pomace">
          <h1>
            Blueberry Pomace</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
        <div id="brewers_yeast">
          <h1>
            Brewers dried yeast</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Protein and essential amino acids. Promotes strong muscles and provides palatability.</p>
        </div>
        <div id="brewers_rice">
          <h1>
            Brewers rice</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Carbohydrate. Helps provide energy and aids in formula digestibility.</p>
        </div>
        <div id="brown_rice">
          <h1>
            Brown rice</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Provides fiber and fatty acids. Promotes digestive tract health, provides carbohydrate
            that can be used for energy, and provides Linoleic Acid, an essential Omega-6 fatty
            acid for skin and coat.</p>
        </div>
        <div id="calcium_carbonate">
          <h1>
            Calcium carbonate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Calcium, an essential mineral. Promotes strong bones and teeth.</p>
        </div>
        <div id="calcium_iodate">
          <h1>
            Calcium iodate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Iodine, an essential mineral. Essential component of Thyroid hormones.</p>
        </div>
        <div id="calcium_pantothenate">
          <h1>
            Calcium pantothenate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Pantothenic acid (a B-complex vitamin). Necessary for the proper utilization of
            carbohydrate, protein, and fat.</p>
        </div>
        <div id="calcium_phosphate">
          <h1>
            Calcium phosphate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Calcium and phosphorus, essential minerals. Promotes strong bones and teeth.</p>
        </div>
        <div id="canola_meal">
          <h1>
            Canola Meal</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Protein and essential amino acids. Helps maintain a handsome coat and healthy skin
            and helps support a pet's immune system.</p>
        </div>
        <div id="carrageenan">
          <h1>
            Carrageenan</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Functional ingredient to aid in product performance, image and firmness.</p>
        </div>
        <div id="carrots">
          <h1>
            Carrots</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
        <div id="catfish">
          <h1>
            Catfish</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="chicken">
          <h1>
            Chicken</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="chicken_broth">
          <h1>
            Chicken Broth</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Flavorful functional ingredient provides moisture for processing.</p>
        </div>
        <div id="chicken_meal">
          <h1>
            Chicken meal</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="choline_chloride">
          <h1>
            Choline chloride</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Choline (an essential B-complex vitamin). Necessary for proper liver and cellular
            metabolism.</p>
        </div>
        <div id="cod">
          <h1>
            Cod</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="copper_proteinate">
          <h1>
            Copper proteinate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Easily absorbed, organic mineral sources of copper for your pet's health. Helps
            support proper hemoglobin and melanin formation, component of several blood proteins
            and enzyme systems.</p>
        </div>
        <div id="copper_sulfate">
          <h1>
            Copper sulfate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Copper, an essential mineral. Helps support proper hemoglobin and melanin formation,
            component of several blood proteins and enzyme systems.</p>
        </div>
        <div id="dl_methionine">
          <h1>
            DL-methionine</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            An essential amino acid, methionine. Helps support muscle development and maintenance.</p>
        </div>
        <div id="dried_beet_pulp">
          <h1>
            Dried Beet Pulp</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Fiber source aids in digestive motility. Helps support digestive health and easy
            cleanup.</p>
        </div>
        <div id="dried_egg">
          <h1>
            Dried Egg product</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein, essential amino acids, fat, and fatty acids. Supports strong
            muscles and skeletal system, enhances palatability and supports healthy skin and
            coat.</p>
        </div>
        <div id="egg_product">
          <h1>
            Egg Product</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein, essential amino acids, fat, and fatty acids. Supports strong
            muscles and skeletal system, enhances palatability and supports healthy skin and
            coat.</p>
        </div>
        <div id="ferrous_sulfate">
          <h1>
            Ferrous sulfate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Iron, an essential mineral. Helps support proper hemoglobin formation and oxygen
            transportation in the bloodstream.</p>
        </div>
        <div id="fish_broth">
          <h1>
            Fish Broth</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Flavorful functional ingredient provides moisture for processing.</p>
        </div>
        <div id="fish_oil">
          <h1>
            Fish oil</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Fat, omega-3 and omega-6 fatty acids. Helps provide energy, promotes healthy skin
            and coat and helps support a healthy immune system.</p>
        </div>
        <div id="folic_acid">
          <h1>
            Folic Acid</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            An essential B-complex vitamin. Necessary for proper amino acid metabolism and for
            cell membrane integrity.</p>
        </div>
        <div id="gelatin">
          <h1>
            Gelatin</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Functional ingredient to aid in product performance, and image.</p>
        </div>
        <div id="guar_gum">
          <h1>
            Guar Gum</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Natural thickening agent to provide viscosity to gravy.</p>
        </div>
        <div id="liver">
          <h1>
            Liver</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Vitamin A, iron, protein, and essential amino acids. Supports cell growth and healthy
            vision, supports proper hemoglobin production, helps support muscle development
            and maintenance and helps support a healthy immune system.</p>
        </div>
        <div id="l_lysine_monohydrochloride">
          <h1>
            L-lysine monohydrochloride</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            An essential amino acid, lysine. Helps support muscle development and maintenance
            and helps support a healthy immune system.</p>
        </div>
        <div id="malted_barley_flour">
          <h1>
            Malted Barley Flour</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Flavor enhancer to promote palatability.</p>
        </div>
        <div id="manganese_proteinate">
          <h1>
            Manganese proteinate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Easily absorbed, organic mineral sources of manganese for your pet's health. Necessary
            for proper glucose utilization and component of bone and cartilage development.</p>
        </div>
        <div id="manganese_sulfate">
          <h1>
            Manganese sulfate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Manganese, an essential mineral. Necessary for proper glucose utilization.</p>
        </div>
        <div id="menadione_sodium_bisulfite_complex">
          <h1>
            Menadione sodium bisulfite complex</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            A source of Vitamin K (an essential fat soluble vitamin). Necessary for proper blood
            clotting.</p>
        </div>
        <div id="natural_flavor">
          <h1>
            Natural Flavor</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Flavor enhancer to promote palatability.</p>
        </div>
        <div id="niacin">
          <h1>
            Niacin</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Niacin (B3) (an essential B-complex vitamin). Helps make up enzymes and necessary
            for proper carbohydrate, protein, and fat metabolism.</p>
        </div>
        <div id="ocean_whitefish">
          <h1>
            Ocean Whitefish</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="pea_fiber">
          <h1>
            Pea Fiber</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Fiber source aids in digestive motility. Helps support digestive health and easy
            cleanup.</p>
        </div>
        <div id="pea_protein">
          <h1>
            Pea Protein</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            A unique, plant based protein source. Helps maintain lean muscle mass and promotes
            healthy skin and coat.</p>
        </div>
        <div id="pearled_barley">
          <h1>
            Pearled Barley</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Carbohydrate including fiber to provide energy and support digestive tract health.</p>
        </div>
        <div id="phosphoric_acid">
          <h1>
            Phosphoric Acid</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Phosphorus, an essential mineral. Enhances palatability.</p>
        </div>
        <div id="potassium_chloride">
          <h1>
            Potassium chloride</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Potassium, an essential mineral. Helps maintain fluid balance and helps support
            enzyme, muscle, and nerve functions.</p>
        </div>
        <div id="potassium_iodide">
          <h1>
            Potassium Iodide</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Iodine, an essential mineral. Important component of Thyroid hormones.</p>
        </div>
        <div id="potato">
          <h1>
            Potato</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
        <div id="pyridoxine_hydrochloride">
          <h1>
            Pyridoxine hydrochloride</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Pyridoxine (B6) (an essential B-complex vitamin). Important component of enzymes
            for protein metabolism.</p>
        </div>
        <div id="riboflavin_supplement">
          <h1>
            Riboflavin supplement</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Riboflavin (B2) (an essential B-complex vitamin). Necessary component of enzyme
            systems.</p>
        </div>
        <div id="salmon">
          <h1>
            Salmon</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Protein and essential amino acids, fat, omega-3 and omega-6 fatty acids, calcium,
            phosphorus, and other minerals. Promotes strong muscles, bones, and teeth, promotes
            healthy skin and coat and enhances palatability.</p>
        </div>
        <div id="salt">
          <h1>
            Salt</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Sodium and chloride, essential minerals. Helps regulate proper blood pH levels,
            water balance and kidney functions and enhances palatability.</p>
        </div>
        <div id="shrimp">
          <h1>
            Shrimp</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="sodium_caseinate">
          <h1>
            Sodium Caseinate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Functional ingredient to aid in product performance, and image.</p>
        </div>
        <div id="sodium_selenite">
          <h1>
            Sodium selenite</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Selenium, an essential mineral. Works with Vitamin E to maintain cell membranes.</p>
        </div>
        <div id="spinach">
          <h1>
            Spinach</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
        <div id="sweet_potato">
          <h1>
            Sweet Potato</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
        <div id="taurine">
          <h1>
            Taurine</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            An essential amino acid for cats. Promotes healthy vision and a healthy heart.</p>
        </div>
        <div id="thiamine_mononitrate">
          <h1>
            Thiamine mononitrate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Thiamine (B1) (an essential B-complex vitamin). Important coenzyme in carbohydrate
            metabolism.</p>
        </div>
        <div id="tomato">
          <h1>
            Tomato</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
        <div id="trout">
          <h1>
            Trout</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Protein and essential amino acids, fat, omega-3 and omega-6 fatty acids, calcium,
            phosphorus, and other minerals. Promotes strong muscles, bones, and teeth, promotes
            healthy skin and coat and enhances palatability.</p>
        </div>
        <div id="turkey">
          <h1>
            Turkey</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            High-quality protein and essential amino acids, fat, and trace minerals. Promotes
            strong muscles and skeletal system, enhances palatability and promotes healthy skin
            and coat.</p>
        </div>
        <div id="turkey_broth">
          <h1>
            Turkey Broth</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Flavorful functional ingredient provides moisture for processing.</p>
        </div>
        <div id="vitamin_a_supplement">
          <h1>
            Vitamin A supplement</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Vitamin A (an essential fat soluble vitamin). Helps support a healthy immune system
            and promotes healthy vision.</p>
        </div>
        <div id="vitamin_b12_supplement">
          <h1>
            Vitamin B12 supplement</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Vitamin B12 (an essential B-complex vitamin). Functions as a coenzyme in carbohydrate
            metabolism.</p>
        </div>
        <div id="vitamin_d3_supplement">
          <h1>
            Vitamin D3 supplement</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Vitamin D (an essential fat soluble vitamin). Promotes strong bones and joints.</p>
        </div>
        <div id="vitamin_e_supplement">
          <h1>
            Vitamin E supplement</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Vitamin E (an essential fat soluble vitamin). Helps support a healthy immune system
            and promotes skin and coat health.</p>
        </div>
        <div id="wild_rice">
          <h1>
            Wild Rice</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Carbohydrate including fiber. Provides digestive tract health and provides carbohydrate
            that can be used for energy.</p>
        </div>
        <div id="zinc_proteinate">
          <h1>
            Zinc Proteinate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Easily absorbed, organic mineral source of zinc for your pet's health. Necessary
            for cell membrane integrity and for cellular protein synthesis and carbohydrate
            metabolism.</p>
        </div>
        <div id="zinc_sulfate">
          <h1>
            Zinc Sulfate</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Zinc, an essential mineral. Necessary for cell membrane integrity and for cellular
            protein synthesis and carbohydrate metabolism.</p>
        </div>
        <div id="zucchini">
          <h1>
            Zucchini</h1>
          <p class="small_brown_text">
            Contributes to your pet's food by providing:</p>
          <p>
            Wholesome, flavorful ingredient.</p>
        </div>
      </div>
    </div>
    <!-- End Left Column -->
    <!-- Begin Right Column -->
    <div class="sidebar margintop60">
      <!-- Begin Sidebar Wholesome Snacks -->
      <div id="sidebar_healthy_snacks">
        <a href="/snacks">LEARN ABOUT<br />
          WHOLESOME SNACKS</a>
      </div>
      <!-- End Sidebar Wholesome Snacks -->
      <!-- Begin Sidebar Natural Cat Food -->
      <div id="sidebar_natural_cat_food">
        <a href="/natural-food-for-cats">LEARN ABOUT<br />
          NATURAL CAT FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Cat Food -->
      <!-- Begin Sidebar Natural Dog Food -->
      <div id="sidebar_natural_dog_food">
        <a href="/natural-food-for-dogs">LEARN ABOUT<br />
          NATURAL DOG FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Dog Food -->
    </div>
    <!-- End Right Column -->
  </div>
  <!-- End Content -->
</div>
<!-- End Content Wrap -->
