<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: CCR Our Story Faq Page
URL of the webpage where the tag is expected to be placed: http://www.canyoncreekranch.com/our-story-faq
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 07/31/2012
-->
<script type="text/javascript">
  var axel = Math.random() + "";
  var a = axel * 10000000000000;
  document.write('<iframe src="http://fls.doubleclick.net/activityi;src=2649772;type=canyo518;cat=ccrou378;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
  <iframe src="http://fls.doubleclick.net/activityi;src=2649772;type=canyo518;cat=ccrou378;ord=1;num=1?"
    width="1" height="1" frameborder="0" style="display: none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<!-- Begin Content -->
<div id="content" class="our_story">
  <!-- Begin Content Wrap -->
  <div class="wrap">
    <!-- Begin Left Column -->
    <div class="leftcol625 margintop40">
      <h1>
        Frequently Asked Questions</h1>
      <p>
        Here are some commonly asked questions that relate to Canyon Creek Ranch dog and
        cat food. We hope that these will be of help to you.</p>
      <hr />
      <ul class="faqs">
        <li>
          <h2 class="toggle">
            Is Canyon Creek Ranch pet food made in the U.S.?</h2>
          <p style="display: block;">
            Yes, all of our pet food manufacturing facilities are located in the United States.</p>
        </li>
        <li>
          <h2 class="toggle">
            Where are your manufacturing facilities located?</h2>
          <p>
            Our dry food is made in Clinton, Iowa. Our canned foods are made in St. Joseph,
            Missouri and Crete, Nebraska.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            Why do you add fruits and vegetables to the food?</h2>
          <p>
            The real fruit and vegetable pieces provide a variety of tastes and textures for
            your pet.</p>
        </li>
        <li>
          <h2 class="toggle">
            Is it normal to see some fruits and vegetables in my pet’s waste?</h2>
          <p>
            Yes, this is not uncommon. Depending on the speed of your pet’s digestive system,
            some of the dehydrated fruits and vegetables may not fully rehydrate. As a result,
            some may pass through with your pet’s waste before they’re fully digested.</p>
          <p>
            However, our kibble is formulated to be nutritionally complete even without the
            fruits and vegetables, so your pet is receiving a 100% complete and balanced meal
            even if all the fruits and vegetables are not completely digested.</p>
        </li>
        <li>
          <h2 class="toggle">
            The peas and carrots look different than the last bag I bought, is this OK?</h2>
          <p>
            Yes, these are natural ingredients that will show natural variation in color, texture
            and size.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            Is your food made with free range chickens?</h2>
          <p>
            There is no free range chicken in our products.</p>
        </li>
        <li>
          <h2 class="toggle">
            Is the salmon used in your foods farm raised?</h2>
          <p>
            Our foods may contain either wild caught or farm raised salmon.</p>
        </li>
        <li>
          <h2 class="toggle">
            Is your food organic?</h2>
          <p>
            At this time, Canyon Creek Ranch pet foods do not contain organic ingredients.</p>
        </li>
        <li>
          <h2 class="toggle">
            Do you use human grade ingredients?</h2>
          <p>
            We use meat and poultry ingredients from animals passed as fit for human consumption.</p>
        </li>
        <li>
          <h2 class="toggle">
            Why don’t you have corn, wheat or soy in your products?</h2>
          <p>
            Canyon Creek Ranch pet foods were created for those pet owners who prefer natural
            pet foods that are formulated without corn, wheat or soy. While grain based allergies
            are not common in pets, our products may be a good choice if your pet has a veterinary
            diagnosed allergy to these ingredients.</p>
        </li>
        <li>
          <h2 class="toggle">
            Are the fish preserved with ethoxyquin before they come to you?</h2>
          <p>
            No, they are not.</p>
        </li>
        <li>
          <h2 class="toggle">
            Why is the list of ingredients on the front of the bag different than what’s on
            the side of the bag?</h2>
          <p>
            The listing on the side of the bag includes the same ingredients shown on the front,
            but also lists out all of the specific vitamins and minerals as required by the
            pet food regulation.</p>
        </li>
        <li>
          <h2 class="toggle">
            What is the proper way to store unused portions of my dog or cat canned food?</h2>
          <p>
            Once opened, unused portions should be covered and stored in a refrigerator.</p>
        </li>
        <li>
          <h2 class="toggle">
            How long can I leave canned food in my pets’ food dish?</h2>
          <p>
            Leave open in dish no longer than 2-3 hours.</p>
        </li>
        <li>
          <h2 class="toggle">
            How long will an unopened can of Canyon Creek Ranch dog or cat food last?</h2>
          <p>
            A canned product will remain fresh and nutritionally stable up to the "Best By"
            date printed on the bottom of the can. You should dispose of cans that show damage,
            appear swollen, dented, or leaking.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            At what temperature should I store my unopened can of Canyon Creek Ranch cat or
            dog food?</h2>
          <p>
            Canned product should be stored between 40 and 80 degrees Fahrenheit.</p>
        </li>
        <li>
          <h2 class="toggle">
            Where do you make your snacks?</h2>
          <p>
            Many of our snacks contain white meat chicken as a primary ingredient. We produce
            our snacks in China because of the readily available supply of high-quality, white
            meat chicken breast. In China, dark meat chicken is more popular, so the supply
            of white meat chicken used in our products is more readily available at a reasonable
            cost. The benefit to our consumers is a premium dog snack at an affordable price.</p>
        </li>
        <li>
          <h2 class="toggle">
            Who owns Canyon Creek Ranch?</h2>
          <p>
            Canyon Creek Ranch is a brand of Waggin' Train LLC. Since the Nestle Purina acquisition,
            Waggin’ Train remains a wholly owned subsidiary of Nestle Purina. As a result, Canyon
            Creek Ranch has been able to retain the values which have made them successful –
            many of which are consistent with those of Purina - while also benefiting from Nestle
            Purina’s 100+ years of expertise in nutrition, quality assurance, food science,
            production, etc. .</p>
        </li>
        <li>
          <h2 class="toggle">
            Do you add any artificial flavors, colors, or preservatives to your recipes?</h2>
          <p>
            No, we do not.</p>
        </li>
        <li>
          <h2 class="toggle">
            Does Canyon Creek Ranch dry food provide my pet with all the nutrition he needs?</h2>
          <p>
            Because our dry pet food contains the high protein and energy of real meat, poultry
            or fish and is specially formulated to be highly digestible, it’s designed to ensure
            that it provides 100% complete and balanced nutrition for the specified life stage
            for your cat or dog. (Digestibility refers to the measure of the food’s nutritional
            value.)</p>
        </li>
        <li>
          <h2 class="toggle">
            What quality controls do you have in place for your snacks?</h2>
          <p>
            Our top priority is to ensure product quality and safety. We use high quality ingredients.
            We have a comprehensive food safety program in place, and all of our facilities
            are modeled after U.S. Department of Agriculture standards for quality and safety.
            We have dedicated Quality Assurance teams that monitor various steps of the manufacturing
            process for the safety and quality of our products.</p>
          <p>
            Additionally, our quality control group monitors the good manufacturing practices
            of our suppliers. Our safety inspection program has specific protocols to help ensure
            proper food handling sanitation practices, heating procedures, and traceability
            of product lots back to the raw ingredients.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            What quality controls do you have in place for your pet food?</h2>
          <p>
            We ensure the quality of Canyon Creek Ranch pet food by adhering to the following
            procedures:<br />
            <br />
            <strong>Ingredient Sourcing</strong><br />
            &#8226; All ingredient sourcing and processing meet or exceed FDA, USDA or AAFCO
            standards for pet food.<br />
            &#8226; Every supplier of ingredients for our products must meet our stringent standards
            for ingredient specifications, product safety, sanitation and manufacturing practices.<br />
            <br />
            <strong>Ingredient Testing</strong><br />
            &#8226; All of our North American manufacturing facilities have on-site quality
            assurance laboratories and staff.<br />
            &#8226; We are expanding the use of technology to further screen ingredients for
            quality assurance.<br />
            <br />
            <strong>Ingredient Tracking &amp; Control</strong><br />
            &#8226; All Canyon Creek Ranch pet food products sold in the U.S. are made in our
            own U.S. manufacturing facilities.<br />
            &#8226; We have a sophisticated tracking system in place to ensure important measures
            of control. All raw ingredients are tracked from time of receipt at our plants,
            through their inclusion in finished products, and on to retail stores.</p>
        </li>
      </ul>
    </div>
    <!-- End Left Column -->
    <!-- Begin Right Column -->
    <div class="sidebar margintop40">
      <!-- Begin FAQ Categories -->
      <!--h3 class="medium_brown_text">
                FAQ Categories</h3>
            <ul class="categories marginbottom40">
                <li><a href="/our-story-faq">FEEDING &#187;</a></li>
                <li><a href="/our-story-faq">QUALITY &#187;</a></li>
            </ul-->
      <!-- End FAQ Categories -->
      <!-- Begin Sidebar Wholesome Snacks -->
      <div id="sidebar_healthy_snacks">
        <a href="/snacks">LEARN ABOUT<br />
          WHOLESOME SNACKS</a>
      </div>
      <!-- End Sidebar Wholesome Snacks -->
      <!-- Begin Sidebar Natural Cat Food -->
      <div id="sidebar_natural_cat_food">
        <a href="/natural-food-for-cats">LEARN ABOUT<br />
          NATURAL CAT FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Cat Food -->
      <!-- Begin Sidebar Natural Dog Food -->
      <div id="sidebar_natural_dog_food">
        <a href="/natural-food-for-dogs">LEARN ABOUT<br />
          NATURAL DOG FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Dog Food -->
    </div>
    <!-- End Sidebar Column -->
  </div>
  <!-- End Content -->
</div>
<!-- End Content Wrap -->
<!-- Begin Clear Content -->
<div id="clear_content">
</div>
<!-- End Clear Content -->
