<!-- Begin Content -->
<div id="content" class="our_story">
  <!-- Begin Content Wrap -->
  <div class="wrap">
    <!-- Begin Left Column -->
    <div class="leftcol625 margintop40">
      <h1>
        Chicken Jerky Frequently Asked Questions</h1>
      <p>
        At Canyon Creek Ranch, we are pet owners too. The quality and safety of our products
        are our top priorities, because everything we do is focused on keeping pets happy
        and healthy.
      </p>
      <p>
        Following are answers to key questions you may have about our products. If you have
        any other questions or want to talk with someone from our company, please call one
        of our pet advisors at 877-376-0101, Monday through Friday, 7:00 a.m. to 7:00 p.m.
        CST.
      </p>
      <hr />
     <p class="margintop20"><strong>General</strong></p> 
      <ul class="faqs">
        <li>
          <h2 class="toggle">
            How long have Canyon Creek Ranch treats been around?
          </h2>
          <p style="display: block;">
            Canyon Creek Ranch treats were first introduced in 2009 as a wholesome, high protein,
            low fat treat for dogs.</p>
        </li>
      </ul>
      <p class="margintop20"><strong>Feeding</strong></p>
      <ul class="faqs">
        <li>
          <h2 class="toggle">
            What are Canyon Creek Ranch Chicken Tenders?</h2>
          <p>
            Canyon Creek Ranch Chicken Tenders are a wholesome, healthy treat for your dog.
            They are made with premium chicken breast filets and have only two main ingredients:
            natural chicken filets, and glycerin (a natural preservative to retain moisture
            and texture). These high-protein, low-fat treats are slow-baked to seal in the natural
            flavors for a healthy and wholesome snack. Chicken jerky treats are popular because
            they are a high-quality, great-tasting treat that dogs love.</p>
        </li>
        <li>
          <h2 class="toggle">
            How many of these treats should I feed my dog?</h2>
          <p>
            As stated on our packaging, owners should limit their dogs' consumption of high-protein
            treats (such as chicken jerky) to ensure your dog is getting the other essential
            nutrients and minerals needed from their food. Below is the recommended number of
            Canyon Creek Ranch Chicken Tenders for your dog per day.
          <br /><br />
            &#8226; Small Dogs (5-10 lbs.): 1 treat<br />
            &#8226; Small-Medium Dogs (11-25 lbs.): 2 treats<br />
            &#8226; Medium Dogs (26-50 lbs.): 3 treats<br />
            &#8226; Large Dogs (Over 50 lbs.): 4 treats
          <br /><br />
            Feeding dogs chicken jerky treats is safe when consumed at recommended levels. Canyon
            Creek Ranch includes detailed feeding suggestions on each package of chicken jerky
            treats (as well as all other treat products). Keep in mind that treats should not
            be fed as a replacement for a balanced diet that includes dog food, and dogs should
            get plenty of fresh, clean water every day.</p>
        </li>
        <li>
          <h2 class="toggle">
            When should I treat my dog?</h2>
          <p>
            You can treat your dog with Canyon Creek Ranch Chicken Tenders anytime you want
            your dog to enjoy a wholesome and delicious snack. Most importantly, make sure you
            feed these tasty treats in keeping with the recommended levels for your dog (as
            listed on the packaging) and in addition to a complete, balanced diet.</p>
        </li>
        <li>
          <h2 class="toggle">
            Can these treats be used in place of dog food from time to time?</h2>
          <p>
            No treat should be fed in place of a complete and balanced diet. Always follow the
            feeding guidelines on the package to ensure that your dog eats only the proper amount
            of treats each day.</p>
        </li>
      </ul>
      <p class="margintop20"><strong>Quality</strong></p>
      <ul class="faqs">
        <li>
          <h2 class="toggle">
            What is in these chicken jerky treats?
          </h2>
          <p>
            Canyon Creek Ranch prides itself on products made of high quality ingredients. Canyon
            Creek Ranch Chicken Tenders are made with premium chicken breast filets and have
            only two main ingredients: natural chicken filets, and glycerin (a natural preservative
            to retain moisture and texture).
          </p>
        </li>
        <li>
          <h2 class="toggle">
            Do you use glycerin from the Jatropha plant, which was mentioned in an FDA notification
            in July?</h2>
          <p>
            No. The Jatropha plant is not used in manufacturing the glycerin used for Canyon
            Creek Ranch products. Canyon Creek Ranch is only made with food grade glycerin,
            a commonly used ingredient in food.</p>
        </li>
        <li>
          <h2 class="toggle">
            Where are these treats made?</h2>
          <p>
            These treats are made in China at facilities that are modeled after U.S. Department
            of Agriculture standards for quality and safety. In China, dark meat chicken is
            more popular with consumers than white meat chicken, and so the supply of quality,
            white meat chicken used in our products is more readily available for dog treats.
            The factories are under stringent safety and sanitary guidelines and monitored by
            a dedicated team of quality control inspectors, who are in the plants where the
            products are being produced. The benefit to our consumers is a premium dog treat
            at an affordable price.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            What is Canyon Creek Ranch’s food safety program?</h2>
          <p>
            Our quality control group monitors the good manufacturing practices of our suppliers.
            Our safety inspection program has specific protocols and practices to help ensure
            proper food handling sanitation practices, heating procedures and traceability of
            product lots back to the raw ingredients.</p>
        </li>
        <li>
          <h2 class="toggle">
            Have Canyon Creek Ranch products been tested for melamine?</h2>
          <p>
            Yes. Every lot of Canyon Creek Ranch is tested by an accredited food safety lab
            for the presence of melamine.</p>
        </li>
        <li>
          <h2 class="toggle">
            How do I know Canyon Creek Ranch treats are safe for my dog?</h2>
          <p>
            Over a million happy, healthy dogs enjoy Canyon Creek Ranch brand dog treats every
            year. Every day we work to ensure product quality and safety. It is our top priority
            and the foundation of the Canyon Creek Ranch brand. We use high quality ingredients.
            We have a comprehensive food safety program in place, and all of our facilities
            are modeled after U.S. Department of Agriculture standards for quality and safety.
            We have dedicated Quality Assurance teams on site, who monitor various steps of
            the manufacturing process for the safety and quality of our products.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            Has any Canyon Creek Ranch product ever been recalled?</h2>
          <p>
            No. Our products have not been recalled.</p>
        </li>
        <li>
          <h2 class="toggle">
            What do the FDA statements say about chicken jerky treats?</h2>
          <p>
            On Nov. 18, 2011, and again on March 9, 2012, the FDA issued a chicken jerky treat
            update regarding a possible association with illness in dogs. Both updates clearly
            state that after extensive testing, scientists have been unable to determine a definitive
            cause for the reported illnesses. The FDA has been quite clear about this. According
            to the FDA, "Samples collected from all over the United States have been tested
            for a wide variety of substances and to date, scientists have not been able to determine
            a definitive cause for the reported illnesses." In addition, FDA continues to emphasize
            that some of the reported illnesses may be the result of causes other than eating
            chicken jerky.
          <br /><br />
            Both FDA notices include a reminder that dog treats should be fed as treats, not
            as a pet's sole source of nutrition. The American Veterinary Medical Association
            recommends feeding jerky treats in small quantities, and notes this is especially
            important for small-breed dogs. Any time a consumer believes a pet may be ill, they
            should consult their veterinarian.</p>
        </li>
        <li>
          <h2 class="toggle">
            Did the FDA mention Canyon Creek Ranch products in its statement?</h2>
          <p>
            The FDA's updates from November 18, 2011 and March 9, 2012 referenced chicken jerky
            treats from China, but did not specify Canyon Creek Ranch, or any other brand. Subsequent
            media stories have identified specific brand names that FDA has conducted testing
            on, including Canyon Creek Ranch and Waggin' Train brand. The FDA posted the following
            Q&A statement about the results of those tests: "Samples collected from all over
            the United States have been tested for a wide variety of substances and to date,
            scientists have not been able to determine a definitive cause for the reported illnesses."</p>
        </li>
        <li>
          <h2 class="toggle">
            On July 18, 2012, the FDA released results of its jerky treat surveillance testing
            from 2007 through 2012. What does this report state about Canyon Creek Ranch products?</h2>
          <p>
            According to the FDA, "Samples collected from all over the United States have been
            tested for a wide variety of substances and to date, scientists have not been able
            to determine a definitive cause for the reported illnesses." The FDA data indicates
            that 283 products were sampled of which three Canyon Creek Ranch brand products
            were tested. FDA testing results did not identify any adverse findings from our
            products.</p>
        </li>
        <li>
          <h2 class="toggle">
            In April 2012, the FDA conducted inspections of several facilities in China that
            manufacture chicken jerky treats. What were the results of those inspections?</h2>
          <p>
            On August 15, the FDA updated its "Questions and Answers Regarding Jerky Pet Treats"
            web page with the results of its April 2012 inspections, and stated "the inspections
            provided valuable information on the firms' jerky treat manufacturing operations.
            The FDA found no evidence indicating that these firms' jerky pet treats are the
            cause of pet illnesses in the United States."</p>
        </li>
        <li>
          <h2 class="toggle">
            I notice that Canyon Creek Ranch products are irradiated. What does that mean?</h2>
          <p>
            Canyon Creek Ranch Brand products that reflect the Radura symbol go through an irradiation
            process approved for pet food by the FDA. This is similar to what is used in sterilizing
            spices, apples, tomatoes and meat for human food. This extra precaution is taken
            to assure pet owners the treats they buy are safe and healthy.</p>
        </li>
        <li>
          <h2 class="toggle">
            The FDA has issued several alerts about chicken jerky products from China. How do
            I know your products are safe for my pet?</h2>
          <p>
            For years, millions of pets have been enjoying Canyon Creek Ranch treats, and they
            continue to be a wholesome treat for dogs. Extensive testing by the FDA to examine
            potential reasons for reported illnesses among some dogs has not found a definitive
            cause that might be associated with any treat. Our Chicken Tenders are safe to feed
            as directed. Canyon Creek Ranch includes detailed feeding suggestions on each package
            of chicken jerky treats (as well as all other treat products).</p>
        </li>
        <li>
          <h2 class="toggle">
            What do you think may be causing the health problems some dogs are having?</h2>
          <p>
            We know that the FDA has been working for some time to find a potential cause of
            the reported illnesses. The FDA has not determined a cause for the illnesses and
            states that some of the reported illnesses may be the result of causes other than
            eating chicken jerky dog treats. While we cannot speculate on what might be the
            cause, we do want to take this opportunity to remind all pet owners to feed our
            treats as directed. Canyon Creek Ranch includes detailed feeding suggestions on
            each package of chicken jerky treats (as well as all other treat products).</p>
        </li>
        <li>
          <h2 class="toggle">
            What should I do if my dog becomes sick?</h2>
          <p>
            Any time a dog shows signs of illness – for any reason - pet owners should consult
            their veterinarian.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            Does your packaging make it clear that these treats are made in China?
          </h2>
          <p>
            Yes. Each package that contains treats made in China is marked "Made in China."</p>
        </li>
        <li>
          <h2 class="toggle">
            What routine tests do you run on your treats to detect possible contamination?</h2>
          <p>
            Canyon Creek Ranch has a comprehensive food safety program for production of its
            treats. As part of that program, each lot of Canyon Creek Ranch brand dog treats
            is tested for salmonella, melamine and di-ethylene glycol. Other routine testing
            includes analysis for heavy metals and mycotoxins.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            Why don’t you make your treats in the U.S.?</h2>
          <p>
            In China, dark meat chicken is more popular with consumers than white meat chicken,
            and so the supply of quality, white meat chicken used in our products is more readily
            available for dog treats. The China facilities that produce Canyon Creek Ranch dog
            treats are modeled after U.S. Department of Agriculture standards for quality and
            safety. The factories are under stringent safety and sanitary guidelines and monitored
            by a dedicated team of our quality control inspectors. The benefit to our consumers
            is a premium dog treat at an affordable price.</p>
        </li>
        <li>
          <h2 class="toggle">
            Why haven’t you issued a voluntary recall?
          </h2>
          <p>
            Canyon Creek Ranch products are safe to feed as directed, and millions of dogs continue
            to enjoy them as a wholesome treat. The FDA has clearly stated that, “Samples collected
            from all over the United States have been tested for a wide variety of substances
            and to date, scientists have not been able to determine a definitive cause for the
            reported illnesses.” In addition, FDA continues to emphasize that some of the reported
            illnesses may be the result of causes other than eating chicken jerky. We continue
            to monitor developments closely at FDA.
          <br /><br />
            In addition, the American Veterinary Medical Association (AVMA) previously has reported
            that any association between dog illnesses and chicken jerky may be the result of
            dogs (primarily small dogs) consuming treats in excess of normal or recommended
            levels.
          <br /><br />
            Canyon Creek Ranch includes detailed feeding suggestions on each package of chicken
            jerky treats (as well as all other treat products). Keep in mind that treats should
            not be fed as a replacement for a balanced diet that includes dog food, and dogs
            should get plenty of fresh, clean water every day.</p>
        </li>
        <li>
          <h2 class="toggle">
            Why does your package say South Carolina, if you’re owned by Nestle?</h2>
          <p>
            The South Carolina address is the former address of the Canyon Creek Ranch business.
            We have been and continue to update and transition packaging as we complete the
            integration of the Canyon Creek Ranch business into Nestle Purina.
          </p>
        </li>
      </ul>
      <p class="margintop20"><strong>Contacting Canyon Creek Ranch</strong></p>
      <ul class="faqs">
        <li>
          <h2 class="toggle">
            Where can I go for up-to-date information about Canyon Creek Ranch treats?</h2>
          <p>
            You can always talk to one of our pet advisors at 877-376-0101, Monday through Friday,
            7:00 a.m. to 7:00 p.m. CST.
          </p>
        </li>
        <li>
          <h2 class="toggle">
            What if I am not satisfied with the product after trying it?
          </h2>
          <p>
            We are committed to the quality and safety of our products, because everything we
            do is focused on keeping pets happy and healthy. We certainly encourage consumers
            to call one of our pet advisors at 877-376-0101, Monday through Friday, 7:00 a.m.
            to 7:00 p.m. CST. If a customer is unsatisfied with their purchase of any of our
            products, we will offer them a full refund with proof of their most recent purchase.
            Please mail the UPC from the product bag and a copy of the sales receipt to the
            below address. Please allow 4-6 weeks for your refund.
         <br /><br />
            Canyon Creek Ranch Customer Service - Returns<br />
            901 Chouteau Ave<br />
            St Louis, MO 63102-1009
          </p>
        </li>
      </ul>

    </div>
    <!-- End Left Column -->
    <!-- Begin Right Column -->
    <div class="sidebar margintop40">
      <!-- Begin FAQ Categories -->
      <!--h3 class="medium_brown_text">
                FAQ Categories</h3>
            <ul class="categories marginbottom40">
                <li><a href="/our-story-faq">FEEDING &#187;</a></li>
                <li><a href="/our-story-faq">QUALITY &#187;</a></li>
            </ul-->
      <!-- End FAQ Categories -->
      <!-- Begin Sidebar Wholesome Snacks -->
      <div id="sidebar_healthy_snacks">
        <a href="/snacks">LEARN ABOUT<br />
          WHOLESOME SNACKS</a>
      </div>
      <!-- End Sidebar Wholesome Snacks -->
      <!-- Begin Sidebar Natural Cat Food -->
      <div id="sidebar_natural_cat_food">
        <a href="/natural-food-for-cats">LEARN ABOUT<br />
          NATURAL CAT FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Cat Food -->
      <!-- Begin Sidebar Natural Dog Food -->
      <div id="sidebar_natural_dog_food">
        <a href="/natural-food-for-dogs">LEARN ABOUT<br />
          NATURAL DOG FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Dog Food -->
      <!-- Begin Sidebar Chicken Jerky FAQ -->
      <div id="sidebar_chicken_jerky_faq">
        <a href="/our-story-chicken-jerky-faq">LEARN ABOUT<br />
          Wholesome Chicken<br />
          Jerky Snacks</a>
      </div>
      <!-- End Sidebar Chicken Jerky FAQ -->
    </div>
    <!-- End Sidebar Column -->
  </div>
  <!-- End Content -->
</div>
<!-- End Content Wrap -->
<!-- Begin Clear Content -->
<div id="clear_content">
</div>
<!-- End Clear Content -->
