    <!-- Begin Content -->

    <div id="content" class="our_story">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Left Column -->

        <div class="leftcol625 margintop40">
          <h1>Frequently Asked Questions</h1>

          <p>Here are some commonly asked questions that relate to Canyon Creek Ranch dog and cat food. We hope that these will be of help to you.</p>
          <hr />

          <ul class="faqs">
            <li>
              <h2 class="toggle">What are Canyon Creek Ranch<sup>&reg;</sup> Chicken Jerky Tenders?</h2>

              <p style="display: block;">Canyon Creek Ranch Chicken Jerky Tenders are a wholesome, healthy treat for your dog. They are made with premium chicken breast filets and have only two main ingredients: natural chicken filets, and glycerin (a natural preservative to retain moisture and texture). These high-protein, low-fat treats are slow-baked to seal in the natural flavors for a healthy and wholesome snack. Chicken jerky treats are popular because they are a high-quality, great-tasting treat that dogs love.</p>
            </li>

            <li>
              <h2>How many of these treats should I feed my dog?</h2>

              <p>As stated on our packaging, owners should limit their dogs’ consumption of high-protein treats (such as chicken jerky) to ensure that your dog is getting the other essential nutrients and minerals needed from their food. Below is the recommended number of Canyon Creek Ranch Chicken Jerky Tenders for your dog per day.<br />
              <br />
              &#8226; Small Dogs (5-10 lbs.): 1 treat<br />
              &#8226; Small-Medium Dogs (11-25 lbs.): 2 treats<br />
              &#8226; Medium Dogs (26-50 lbs.): 3 treats<br />
              &#8226; Large Dogs (Over 50 lbs.): 4 treats<br />
              <br />
              Feeding dogs chicken jerky treats is safe when consumed at recommended levels. Canyon Creek Ranch includes detailed feeding suggestions on each package of chicken jerky treats (as well as all other treat products). Keep in mind that treats should not be fed as a replacement for a balanced diet that includes dog food, and dogs should get plenty of fresh, clean water every day.</p>
            </li>

            <li>
              <h2>When should I treat my dog?</h2>

              <p>You can treat your dog with Canyon Creek Ranch Chicken Jerky Tenders anytime you want your dog to enjoy a wholesome and delicious snack. Most importantly, make sure you feed these tasty treats in keeping with the recommended levels for your dog (as listed on the packaging) and in addition to a complete, balanced diet.</p>
            </li>

            <li>
              <h2>Can these treats be used in place of dog food from time to time?</h2>

              <p>No treat should be fed in place of a complete and balanced diet. Always follow the feeding guidelines on the package to ensure that your dog eats only the proper amount of treats each day</p>
            </li>

            <li>
              <h2>Where can I go for up-to-date information about Canyon Creek Ranch treats?</h2>

              <p>You can always talk to one of our pet advisors at 877-376-0101, Monday through Friday, 7:00 a.m. to 7:00 p.m. CST.</p>
            </li>

            <li>
              <h2>What if I am not satisfied with this product?</h2>

              <p>We stand behind the quality of every Canyon Creek Ranch Brand product. If for any reason you are not fully satisfied with our product, we gladly will refund your purchase price. Please mail the UPC from the product bag and a copy of the sales receipt to the below address. Please allow 4-6 weeks for your refund.<br />
              <br />
              Canyon Creek Ranch Customer Service - Returns<br />
              901 Chouteau Ave<br />
              St Louis, MO 63102-1009</p>
            </li>
          </ul>
        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="sidebar margintop40">
          <!-- Begin FAQ Categories -->

          <h3 class="medium_brown_text">FAQ Categories</h3>

          <ul class="categories marginbottom40">
            <li><a href="/our-story-faq-feeding">FEEDING &#187;</a></li>

            <li><a href="/our-story-faq-quality">QUALITY &#187;</a></li>
          </ul><!-- End FAQ Categories -->
          <!-- Begin Sidebar Wholesome Snacks -->

          <div id="sidebar_healthy_snacks">
            <a href="/snacks">LEARN ABOUT<br />
            WHOLESOME SNACKS</a>
          </div><!-- End Sidebar Wholesome Snacks -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Sidebar Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
