    <!-- Begin Content -->

    <div id="content" class="our_story">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Left Column -->

        <div class="leftcol625 margintop40">
          <h1>Frequently Asked Questions - Quality</h1>

          <p>Here are some commonly asked questions that relate to Canyon Creek Ranch dog and cat food. We hope that these will be of help to you.</p>
          <hr />

          <ul class="faqs">
            <li>
              <h2 class="toggle">What is in these chicken jerky treats?</h2>

              <p style="display: block;">Canyon Creek Ranch prides itself on products made of high quality ingredients. Canyon Creek Ranch Chicken Jerky Tenders are made with premium chicken breast filets and have only two main ingredients: natural chicken filets, and glycerin (a natural preservative to retain moisture and texture).</p>
            </li>

            <li>
              <h2>Where are these treats made?</h2>

              <p>These treats are made in China at facilities that meet U.S. Department of Agriculture standards for quality and safety. In China, dark meat chicken is more popular with consumers than white meat chicken, and so the supply of quality, white meat chicken used in our products is more readily available for dog treats. The factories are under stringent safety and sanitary guidelines and monitored by a dedicated team of quality control inspectors, who are in the plants where the products are being produced. The benefit to our consumers is a premium dog treat at an affordable price.</p>
            </li>

            <li>
              <h2>What is Canyon Creek Ranch’s food safety program?</h2>

              <p>Our quality control group monitors the good manufacturing practices of our suppliers. Our safety inspection program has specific protocols and practices to help ensure proper food handling sanitation practices, heating procedures and traceability of product lots back to the raw ingredients</p>
            </li>

            <li>
              <h2>Have Canyon Creek Ranch products been tested for melamine?</h2>

              <p>Yes. Every lot of Canyon Creek Ranch is tested by an accredited food safety lab for the presence of melamine.</p>
            </li>

            <li>
              <h2>How do I know Canyon Creek Ranch treats are safe for my dog?</h2>

              <p>Millions of happy, healthy dogs enjoy Canyon Creek Ranch brand dog treats every year. Every day we work to ensure product quality and safety. It is our top priority and the foundation of the Canyon Creek Ranch brand. We use high quality ingredients. We have a comprehensive food safety program in place, and all of our facilities are designed to meet U.S. Department of Agriculture standards. We have dedicated Quality Assurance teams on site, who monitor various steps of the manufacturing process for the safety and quality of our products.</p>
            </li>

            <li>
              <h2>Has any Canyon Creek Ranch product ever been recalled?</h2>

              <p>No. Our products have not been recalled.</p>
            </li>

            <li>
              <h2>What did the recent FDA statement say about chicken jerky treats?</h2>

              <p>On Nov. 18, 2011, the U.S. Food and Drug Administration (FDA) issued an update about chicken jerky treats for dogs. The FDA continues to advise dog owners that chicken jerky products should not be substituted for a balanced diet and are intended to be fed occasionally in small quantities. The FDA has been unable to determine a definitive cause of reported dog illnesses or a direct link to chicken jerky products. The FDA has been quite clear about this. Extensive FDA testing found no contaminants and no definitive cause for the reported illnesses among dogs. In addition, the American Veterinary Medical Association (AVMA) previously has reported that any association between dog illnesses and chicken jerky may be the result of dogs (primarily small dogs) consuming treats in excess of normal or recommended levels.</p>
            </li>

            <li>
              <h2>Did the FDA mention Canyon Creek Ranch products in its statement?</h2>

              <p>The FDA’s update referenced chicken jerky treats from China, but did not specify Canyon Creek Ranch, or any other brand.</p>
            </li>

            <li>
              <h2>I notice that Canyon Creek Ranch products are irradiated. What does that mean?</h2>

              <p><img src="/img/story/radura.png" class="float_right" />Canyon Creek Ranch Brand products that reflect the Radura symbol go through an irradiation process approved for pet food by the FDA. This is similar to what is used in sterilizing spices, apples, tomatoes and meat for human food. This extra precaution is taken to assure pet owners the treats they buy are safe and healthy.</p>
            </li>

            <li>
              <h2>Where can I go for up-to-date information about Canyon Creek Ranch treats?</h2>

              <p>You can always talk to one of our pet advisors at 877-376-0101, Monday through Friday, 7:00 a.m. to 7:00 p.m. CST.</p>
            </li>

            <li>
              <h2>What if I am not satisfied with this product?</h2>

              <p>We stand behind the quality of every Canyon Creek Ranch Brand product. If for any reason you are not fully satisfied with our product, we gladly will refund your purchase price. Please mail the UPC from the product bag and a copy of the sales receipt to the below address. Please allow 4-6 weeks for your refund.<br />
              <br />
              Canyon Creek Ranch Customer Service - Returns<br />
              901 Chouteau Ave<br />
              St Louis, MO 63102-1009</p>
            </li>
          </ul>
        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="sidebar margintop40">
          <!-- Begin FAQ Categories -->

          <h3 class="medium_brown_text">FAQ Categories</h3>

          <ul class="categories marginbottom40">
            <li><a href="/our-story-faq-feeding">FEEDING &#187;</a></li>

            <li><a href="/our-story-faq-quality">QUALITY &#187;</a></li>
          </ul><!-- End FAQ Categories -->
          <!-- Begin Sidebar Wholesome Snacks -->

          <div id="sidebar_healthy_snacks">
            <a href="/snacks">LEARN ABOUT<br />
            WHOLESOME SNACKS</a>
          </div><!-- End Sidebar Wholesome Snacks -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Sidebar Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
