@{
  var random = new Random();
  var r = random.Next(9);
  switch(r) 
    {
      case 0:
        <p>&#8220;Protein is very important as the number one ingredient for me.&#8221;</p><span class="small_grey_text">&#8212;Cheryl  with Charlie and Maverick</span>
      break;
      case 1:
        <p>&#8220;I will make sure to give them a dog food that keeps them healthy, happy and something they enjoy.&#8221;</p><span class="small_grey_text">Cheryl with Charlie and Maverick</span>
      break;
      case 2:
        <p>&#8220;He’s so active and so funny. He really knows he’s a member of our family.&#8221;</p><span class="small_grey_text">Todd with Chase</span>
      break;
      case 3:
        <p>&#8220;I think with ingredients in cat food you really have to take a similar perspective to how you buy food [for yourself].&#8221;</p><span class="small_grey_text">Todd with Chase</span>
      break;
      case 4:
        <p>&#8220;Blake and Chance definitely bring constant loyalty.&#8221;</p><span class="small_grey_text">Ellen with Blake and Chance</span>
      break;
      case 5:
        <p>&#8220;The energy is always there. They are constantly wanting to play and you can’t play enough.&#8221;</p><span class="small_grey_text">Ellen with Blake and Chance</span>
      break;
      case 6:
        <p>&#8220;He’s very important to us ... he’s definitely my cuddlebug.&#8221;</p><span class="small_grey_text">Carolyn and Boots</span>
      break;
      case 7:
        <p>&#8220;When you eat healthier, you feel better about yourself and I think the same is important for our cats.&#8221;</p><span class="small_grey_text">Carolyn and Boots</span>
      break;
      case 8:
        <p>&#8220;When your pets eat healthy they feel better and they can join you in the activities you love.&#8221; </p><span class="small_grey_text">Carolyn and Boots</span>
      break;
    }
}