    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <div id="clear_content"></div><!-- Begin Left Column -->

        <div class="leftcol625">
          <h1>Terms and Conditions for Waggin’ Train Sites</h1>
          
<p>Waggin’ Train LLC (hereinafter "Waggin’ Train") maintains this site (the "Site") for your personal entertainment, information, education and communication. Please feel free to browse the Site. You may download only material displayed on the Site specifically identified as available for downloading. Such material is for noncommercial, personal use only provided you also retain all copyright and other proprietary notices contained on the materials. You may not, however, distribute, modify, transmit, reuse, repost or use the content of the Site for public or commercial purposes, including the text, images, audio and video without Waggin’ Train's written permission.</p>

<p>Your access to and use of the Site is subject to all of the terms and conditions contained and referenced in this document ("Terms and Conditions") and all applicable laws. By accessing and browsing the Site, you accept, without limitation or qualification, these Terms and Conditions and acknowledge that any other agreements between you and Waggin’ Train regarding this site are superseded and of no force or effect.</p>

<p>You should assume that everything you see or read on the Site is copyrighted unless otherwise noted and may not be used except as provided in these Terms and Conditions or in the text on the Site without the written permission of Waggin’ Train. Waggin’ Train neither warrants nor represents that your use of materials displayed on the Site will not infringe rights of third parties not owned by or affiliated with Waggin’ Train.</p>

<p>While Waggin’ Train uses reasonable efforts to include accurate and up-to-date information in the Site, Waggin’ Train makes no warranties or representations as to its accuracy. Waggin’ Train assumes no liability or responsibility for any errors or omissions in the content of the Site.</p>

<p>Your use of and browsing in the Site are at your risk. Neither Waggin’ Train nor any other party involved in creating, producing or delivering the Site is liable for any direct, incidental, consequential, indirect or punitive damages arising out of your access to, or use of, the Site. Without limiting the foregoing, everything on the Site is provided to you "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Please note that some jurisdictions may not allow the exclusion of implied warranties, so some of the above exclusions may not apply to you. Check your local laws for any restrictions or limitations regarding the exclusion of implied warranties. Waggin’ Train also assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer equipment or other property on account of your access to, use of, or browsing in the Site or your downloading of any materials, data, text, images, video or audio from the Site.</p>

<p>Any communication or material you transmit or post to the Site by electronic mail or otherwise, including any data, questions, comments, suggestions, stories, homepages, or the like is, and will be treated as, non-confidential and non-proprietary. Waggin’ Train, or its affiliates, at its sole discretion, and without compensation to you, may use, not use, edit, adapt, modify or discontinue the use of any communication or material you post to the site for any purpose whatsoever including, but not limited to, disclosure, transmission, reproduction, distribution, publishing, broadcasting, or posting in any medium. Furthermore, Waggin’ Train, or its affiliates, without compensation to you, is free to use, not use, edit, adapt, modify, or discontinue the use of any ideas, concepts, know-how, or techniques contained in any communication or material you transmit or post to the Site for any purpose whatsoever including, but not limited to, developing, manufacturing and marketing products.</p>

<p>Images of people, animals, or places displayed on the Site are either the property of, or used with permission by, Waggin’ Train. The use of these images by you, or anyone else authorized by you, is prohibited unless specifically permitted by these Terms and Conditions or specific permission provided elsewhere on the Site. Any unauthorized use of the images may violate copyright laws, trademark laws, the laws of privacy and publicity and communications regulations and statutes.</p>

<p>The trademarks, logos and service marks (collectively the "Trademarks") displayed on the Site are registered and unregistered Trademarks of Waggin’ Train and others. Nothing contained on the Site should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Trademark displayed on the Site without the written permission of the Trademark owner. Your misuse of the Trademarks displayed on the Site, or any other content on the Site, except as provided in these Terms and Conditions, is strictly prohibited. You are also advised that Waggin’ Train will aggressively enforce its intellectual property rights to the fullest extent of the law, including the seeking of criminal prosecution.</p>

<p>Waggin’ Train grants a non-exclusive, limited permission to display the Trademarks contained in Waggin’ Train domain names, brand names and logos to you if you would like to develop a link between your website and the Site. Linking to Waggin’ Train Sites is governed by Waggin’ Train's Linking Policy, and you agree to be bound by those terms and conditions, as modified and updated from time to time, with respect to the linking of your website with a Waggin’ Train Site.</p>

<p>Waggin’ Train has not reviewed all the sites linked to the Site and is not responsible for the content of any other sites linked to the Site. Your linking to any other off-site pages or other sites is at your own risk.</p>

<p>Although Waggin’ Train may from time to time monitor or review discussions, chats, postings, transmissions, bulletin boards, and the like on the Site, Waggin’ Train is under no obligation to do so and assumes no responsibility or liability arising from the content of any such locations nor for any error, defamation, libel, slander, omission, falsehood, obscenity, pornography, profanity, danger or inaccuracy contained in any information within such locations on the Site. You are prohibited from posting or transmitting any unlawful, threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability or otherwise violate any law. Waggin’ Train will fully cooperate with any law enforcement authorities or court order requesting or directing Waggin’ Train to disclose the identity of anyone posting any such information or materials.</p>

<p>Software from this Site may be further subject to United States Export laws, rules and regulations, as amended from time to time. No software from this Site may be downloaded or exported (i) into (or to a national or resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria, Sudan or any other country to which the United States has embargoed goods; or (ii) anyone on the United States Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of Deny Orders. By downloading or using the software, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country or on any such list.</p>

<p>This Site may from time to time contain information relating to various medical, health and fitness conditions of pets and their treatment. This is for informational purposes only and is not meant to be a substitute for the advice provided by your own veterinarian or other medical professional. You should not use the information contained herein for diagnosing a pet's health or fitness problem or disease. You should always consult your own veterinarian and medical advisors.</p>

<p>Waggin’ Train may at any time revise these Terms and Conditions by updating this posting. You are bound by any such revisions and should therefore periodically visit this page to review the then current Terms and Conditions to which you are bound.</p>


<h2>Terms and Conditions for User-Generated Content</h2>
<p>Waggin’ Train LLC (“Waggin’ Train”) owns and/or operates various websites that permit users (hereinafter “Members” or “Users”) to submit or publish content (“User-Generated Websites”). Such websites may include, but are not limited to, message boards, blogs, social networks, and comment boards. By registering or using any User-Generated Websites, you accept and agree to the following Terms and conditions for User-Generated Content.</p>

<p>Eligibility and registration<br />
As part of the registration process, you will be asked to select a username and password and you will be responsible for all activities occurring under your username and for keeping your password secure. We may refuse to grant you a username that impersonates someone else, is or may be protected by trademark or proprietary rights law, or is vulgar, offensive or otherwise inappropriate, as determined by us in our sole discretion. You are solely responsible for any and all uses of your username, password, and account.</p>

<p>Appropriate conduct and content; personal use only User-Generated Websites are made available for your personal, non-commercial use only. User-Generated Websites may not be used for any commercial or promotional purpose.</p>

<p>By acceptance of these User-Generated Websites Terms and Conditions, you agree that any information you provide about yourself and your pets is accurate and complete information at the time provided. In particular, you represent that you are 18 years of age or older. In addition, you agree to update any information provided to User-Generated Websites to keep it accurate and complete. If you become a member of a User-Generated Website, your failure to accurately and completely provide, and timely update, information about yourself is reasonable grounds for suspension or termination of your membership.</p>

<p>You may not use User-Generated Websites for any illegal or unauthorized purpose. International users agree to comply with all local rules regarding online conduct and acceptable content, including laws regulating the export of data from the United States or your country of residence. You are solely responsible for your conduct and any data, text, information, photos, links and other content (“Materials”) that you submit, post, and display on User-Generated Websites.</p>

<p>We may without notice to you, but shall have no obligation to, refuse, edit, and/or remove Materials that we determine in our sole discretion are unlawful, fraudulent, threatening, libelous, defamatory, obscene or otherwise objectionable, or infringing or violating any party’s intellectual property or other proprietary rights or these User-Generated Websites Terms and Conditions. We also reserve the right in our sole discretion to refuse, edit, and/or remove any content that may be deemed by any User-Generated Website community to be inappropriate without providing you notice.</p>

<p>Children’s privacy<br />
We are committed to protecting the privacy of children. The User-Generated Websites are is not intended or designed to attract children under the age of 18. We do not collect personally identifiable information from any person we have actual knowledge is under the age of 18.</p>

<p>Examples of illegal or unauthorized uses include, but are not limited to:<br />
Modifying, adapting, translating, or reverse engineering any portion of the User-Generated Websites; using any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of User-Generated Websites; collecting any information about other Members (including usernames and/or e-mail addresses) for unauthorized purposes; reformatting or framing any portion of the web pages or site images that are part of User-Generated Websites; creating user accounts by automated means or under false or fraudulent pretenses; creating or transmitting unwanted electronic communications such as “spam,” or chain letters to other Members or otherwise interfering with other Member’s enjoyment of the service; submitting Materials of any third party without such third party’s prior written consent; submitting Materials that falsely express or imply that such Materials are sponsored or endorsed by User-Generated Websites; submitting Materials that infringe, misappropriate or violate the intellectual property, publicity, privacy or other proprietary rights of any party; transmitting any viruses, worms, defects, Trojan horses or other items of a destructive nature; submitting Materials that are unlawful or promote or encourage illegal activity; displaying an advertisement as part of your or your pet’s profile; any automated use of the system, including the use of scripts to send messages or post comments; or submitting false or misleading information.</p>

<p>While Waggin’ Train prohibits such conduct and content on its User-Generated Websites, you understand and agree that you nonetheless may be exposed to such Materials and that you use User-Generated Websites at your own risk.</p>

<p>Changes to Terms and Conditions for User-Generated Content<br />
We reserve the right to modify or terminate any User-Generated Website or service therein for any reason, and without notice, without liability to you, any other Member, or any third party. We also reserve the right to modify these Terms and Conditions for User-Generated Content from time to time without notice. You are responsible for regularly reviewing these Terms and Conditions for User-Generated Content so that you will be apprised of any changes.</p>

<p>License to Use Materials<br />
By submitting, posting, or displaying any Materials on or through User-Generated Websites, you automatically grant Waggin’ Train a worldwide, non-exclusive, royalty-free, irrevocable license to publicly display or re-display such Materials on the User-Generated Websites website and in all other forms of media (including, without limitation, e-mail blasts and mobile or text messages or applications) that are used by Waggin’ Train or its agents in connection with the promotion, marketing, use, or expansion of any User-Generated Websites.</p>

<p>You represent to Waggin’ Train that you own all Materials you provide and/or have the unencumbered legal right to grant the above-referenced license with respect to all Materials you provide. You further represent to Waggin’ Train that such materials do not infringe any third party copyrights or other third party intellectual property rights. You agree to indemnify Waggin’ Train for any and all losses resulting from the invalidity or inaccuracy of such representation.</p>

<p>Except as expressly authorized by User-Generated Websites, you may not copy, modify, publish, transmit, distribute, perform, display or sell any of Waggin’ Train’s proprietary information, which includes the sum of all postings and photos to the site.
Please do not send to any User-Generated Website or post on any User-Generated Website forum anything that constitutes a trade secret, confidential or proprietary information. We are not in a position to accept such information, nor can we agree to obligations of nondisclosure or confidentiality with regard to submitted plans or ideas. You agree that any information or materials that you, or individuals acting on your behalf, provide to any User-Generated Website will not be considered confidential or proprietary.</p>

<p>User-Generated Websites includes information and content generated from a wide variety of sources, including board certified veterinarians, trainers, and other professional service providers, as well as, other Users. Users should understand that User-Generated Websites is a place to review and share information -- but the information has not been verified for accuracy and does not represent the opinions or positions of Waggin’ Train. Waggin’ Train cannot guarantee the timeliness, accuracy, efficacy, or veracity of any information provided at User-Generated Websites, nor the efficiency or applicability of any advice, opinions or content as they may be interpreted and applied to your pet. Waggin’ Train’s personnel are not and will not be responsible for any misleading, false, or otherwise injurious information and advice communicated on User-Generated Websites, or for any results obtained from the use of such information or advice. Waggin’ Train and its personnel will not be liable for any loss or damage suffered by a User through the User’s reliance on information, content and advice appearing on our website.</p>

<p>USER-GENERATED WEBSITES ARE BEING MADE AVAILABLE TO YOU “AS IS,” WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND.</p>

<p>Standard Terms and Conditions for Waggin’ Train Websites<br />
In addition to these User-Generated Websites Terms and Conditions, you agree to be bound by Waggin’ Train’s standard Terms and Conditions for its websites, as the same may be modified and updated from time to time, with respect to your use of User-Generated Websites.</p>


<h2>Privacy Policy</h2>
<p>Waggin’ Train is dedicated to protecting your privacy on its Internet Websites. You can expect the same standard of privacy protection on our Internet sites that we extend to you in any other interaction with Waggin’ Train and its brands. Waggin’ Train's policy on privacy is in accordance with the Direct Marketing Association's Marketing Online Privacy Principles.</p>

<p>Personally Volunteered Information<br />
We only collect personal information from our visitors on a voluntary basis. Personal information may include name, postal address, e-mail address, types and names of pets, credit card information (in the case of electronic commerce only), etc. The personal information you volunteer to us is used to fulfill your request, provide you with information or to market products, events, and/or services that may be of interest to you. These offers may come directly from us, from our affiliates or from other reputable organizations whose privacy policies are in line with our own. Each offer is carefully examined to ensure that it meets our standards. Additionally, we try to make sure that these offers reach only those individuals most likely to be interested in them. We may also share your personal information with our marketing partners to whom you have previously provided your personal information. Your information is also shared with our partner agencies who assist us in administering the site and various programs and promotions. These agencies can only use the information to administer our site and programs and are bound to keep your information private and secure. Also, any information may be transferred (a) to an organization that purchases all or substantially all of Waggin’ Train's  assets or stock, (b) as required by law or by court order, or (c) as part of a reorganization or insolvency proceeding. If your personal information is to be used in any fashion other than the above mentioned, this intent will be expressly stated.</p>

<p>Other Personal Information<br />
<p>Our Web server collects the domain names (not the e-mail addresses) of visitors to our Websites. This information is aggregated to measure basic usage data such as the number of visits, average time spent on the site, pages reviewed, etc. which is used by Waggin’ Train to improve the content of our Websites.</p>

<p>We may use 'cookies' on some pages of our Websites to help us serve you better each time you return. A cookie is a small text file which is sent by a Web site, accepted by a Web browser and then placed on your hard drive. The cookies used by Waggin’ Train contain only the information that you submit to Waggin’ Train via our Guestbook. You therefore have control over the information that is stored in the cookie. The cookie expires after one year, so there is little concern about it storing outdated information. You can always set your browser to warn you when a cookie is sent to you. This will give you more control over acceptance of them.
The data collected from these cookies helps us to analyze browsing patterns of our visitors in order to improve the content and design of our Websites. The information collected from these cookies is for the exclusive use of Waggin’ Train and its affiliates, and will not be shared with other vendors.</p>

<p>Remember: you are always able to alter any personal information that you have already submitted. Please see contact information below.</p>

<p>Children<br />
Waggin’ Train has no intention of collecting any personal information from individuals under eighteen years of age. Where appropriate, Waggin’ Train will specifically instruct children not to submit such information on our Websites. If a child has provided us with information, a parent or guardian of that child should contact us if they would like this information deleted from our records. We will use reasonable efforts to delete the child's information from our existing files.</p>

<p>Other<br />
The information that you provide to us is not sold to third party data compilation services. From time to time, we may make the postal addresses of our customers available to other reputable organizations whose products or services we think you might find interesting. If you do not want us to share this information, you are given the opportunity to decline or you may contact us at the address or telephone number below to request that we not share your information in such a manner.</p>

<p>If you send a friend an e-mail from the site referring the friend to the site, the “referral” information you provide is used on a one-time basis to facilitate this communication and is not further retained by Waggin’ Train unless this individual indicates he/she wants to receive Waggin’ Train communications.</p>

<p>Waggin’ Train attempts to only link to sites which have similarly high respect for your privacy. However, we are not responsible for the content or the privacy practices employed by other sites. Should you have a problem with privacy on any site we link to please let us know by contacting our Office of Consumer Affairs.</p>

<p>Security<br />
Waggin’ Train takes reasonable measures to keep all information about our online visitors secure against unauthorized access and periodically reviews the security measures of all our internet sites.</p>

<p>Contact Information<br />
If you would like to add your name, correct your information or remove your name from our mailing list, please e-mail us at: Office of Consumer Affairs (WagginTrain@casupport.com) or contact us at: Office of Consumer Affairs, telephone (866) 283-2923 (Mon. - Fri., 7 a.m. - 7 p.m. CT). You will always be able to opt out of any promotional offers or notification of new products when personal information is collected.</p>

<p>We reserve the right to make changes to this policy. Any changes to this policy will be posted.</p>

<p>As a demonstration of our commitment to protecting your privacy, we have provided links to other privacy organizations.</p>

<p>The Federal Trade Commission<br />
Cookie Central<br />
WagginTrain.com May, 2012</p>


        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="sidebar">
          <!-- Begin Sidebar Wholesome Snacks -->

          <div id="sidebar_healthy_snacks">
            <a href="/snacks">LEARN ABOUT<br />
            WHOLESOME SNACKS</a>
          </div><!-- End Sidebar Wholesome Snacks -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Right Column -->
      </div><!-- End Content -->

      <div id="clear_content"></div>
    </div><!-- End Content Wrap -->
