    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <div id="clear_content"></div><!-- Begin Left Column -->

        <div class="leftcol625">
          <h1>Terms and Conditions for Waggin’ Train Sites</h1>
          
<p>Waggin’ Train LLC (hereinafter "Waggin’ Train") maintains this site (the "Site") for your personal entertainment, information, education and communication. Please feel free to browse the Site. You may download only material displayed on the Site specifically identified as available for downloading. Such material is for noncommercial, personal use only provided you also retain all copyright and other proprietary notices contained on the materials. You may not, however, distribute, modify, transmit, reuse, repost or use the content of the Site for public or commercial purposes, including the text, images, audio and video without Waggin’ Train's written permission.</p>

<p>Your access to and use of the Site is subject to all of the terms and conditions contained and referenced in this document ("Terms and Conditions") and all applicable laws. By accessing and browsing the Site, you accept, without limitation or qualification, these Terms and Conditions and acknowledge that any other agreements between you and Waggin’ Train regarding this site are superseded and of no force or effect.</p>

<p>You should assume that everything you see or read on the Site is copyrighted unless otherwise noted and may not be used except as provided in these Terms and Conditions or in the text on the Site without the written permission of Waggin’ Train. Waggin’ Train neither warrants nor represents that your use of materials displayed on the Site will not infringe rights of third parties not owned by or affiliated with Waggin’ Train.</p>

<p>While Waggin’ Train uses reasonable efforts to include accurate and up-to-date information in the Site, Waggin’ Train makes no warranties or representations as to its accuracy. Waggin’ Train assumes no liability or responsibility for any errors or omissions in the content of the Site.</p>

<p>Your use of and browsing in the Site are at your risk. Neither Waggin’ Train nor any other party involved in creating, producing or delivering the Site is liable for any direct, incidental, consequential, indirect or punitive damages arising out of your access to, or use of, the Site. Without limiting the foregoing, everything on the Site is provided to you "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Please note that some jurisdictions may not allow the exclusion of implied warranties, so some of the above exclusions may not apply to you. Check your local laws for any restrictions or limitations regarding the exclusion of implied warranties. Waggin’ Train also assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer equipment or other property on account of your access to, use of, or browsing in the Site or your downloading of any materials, data, text, images, video or audio from the Site.</p>

<p>Any communication or material you transmit or post to the Site by electronic mail or otherwise, including any data, questions, comments, suggestions, stories, homepages, or the like is, and will be treated as, non-confidential and non-proprietary. Waggin’ Train, or its affiliates, at its sole discretion, and without compensation to you, may use, not use, edit, adapt, modify or discontinue the use of any communication or material you post to the site for any purpose whatsoever including, but not limited to, disclosure, transmission, reproduction, distribution, publishing, broadcasting, or posting in any medium. Furthermore, Waggin’ Train, or its affiliates, without compensation to you, is free to use, not use, edit, adapt, modify, or discontinue the use of any ideas, concepts, know-how, or techniques contained in any communication or material you transmit or post to the Site for any purpose whatsoever including, but not limited to, developing, manufacturing and marketing products.</p>

<p>Images of people, animals, or places displayed on the Site are either the property of, or used with permission by, Waggin’ Train. The use of these images by you, or anyone else authorized by you, is prohibited unless specifically permitted by these Terms and Conditions or specific permission provided elsewhere on the Site. Any unauthorized use of the images may violate copyright laws, trademark laws, the laws of privacy and publicity and communications regulations and statutes.</p>

<p>The trademarks, logos and service marks (collectively the "Trademarks") displayed on the Site are registered and unregistered Trademarks of Waggin’ Train and others. Nothing contained on the Site should be construed as granting, by implication, estoppel or otherwise, any license or right to use any Trademark displayed on the Site without the written permission of the Trademark owner. Your misuse of the Trademarks displayed on the Site, or any other content on the Site, except as provided in these Terms and Conditions, is strictly prohibited. You are also advised that Waggin’ Train will aggressively enforce its intellectual property rights to the fullest extent of the law, including the seeking of criminal prosecution.</p>

<p>Waggin’ Train grants a non-exclusive, limited permission to display the Trademarks contained in Waggin’ Train domain names, brand names and logos to you if you would like to develop a link between your website and the Site. Linking to Waggin’ Train Sites is governed by Waggin’ Train's Linking Policy, and you agree to be bound by those terms and conditions, as modified and updated from time to time, with respect to the linking of your website with a Waggin’ Train Site.</p>

<p>Waggin’ Train has not reviewed all the sites linked to the Site and is not responsible for the content of any other sites linked to the Site. Your linking to any other off-site pages or other sites is at your own risk.</p>

<p>Although Waggin’ Train may from time to time monitor or review discussions, chats, postings, transmissions, bulletin boards, and the like on the Site, Waggin’ Train is under no obligation to do so and assumes no responsibility or liability arising from the content of any such locations nor for any error, defamation, libel, slander, omission, falsehood, obscenity, pornography, profanity, danger or inaccuracy contained in any information within such locations on the Site. You are prohibited from posting or transmitting any unlawful, threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability or otherwise violate any law. Waggin’ Train will fully cooperate with any law enforcement authorities or court order requesting or directing Waggin’ Train to disclose the identity of anyone posting any such information or materials.</p>

<p>Software from this Site may be further subject to United States Export laws, rules and regulations, as amended from time to time. No software from this Site may be downloaded or exported (i) into (or to a national or resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria, Sudan or any other country to which the United States has embargoed goods; or (ii) anyone on the United States Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of Deny Orders. By downloading or using the software, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country or on any such list.</p>

<p>This Site may from time to time contain information relating to various medical, health and fitness conditions of pets and their treatment. This is for informational purposes only and is not meant to be a substitute for the advice provided by your own veterinarian or other medical professional. You should not use the information contained herein for diagnosing a pet's health or fitness problem or disease. You should always consult your own veterinarian and medical advisors.</p>

<p>Waggin’ Train may at any time revise these Terms and Conditions by updating this posting. You are bound by any such revisions and should therefore periodically visit this page to review the then current Terms and Conditions to which you are bound.</p>


<h2>Terms and Conditions for User-Generated Content</h2>
<p>Waggin’ Train LLC (“Waggin’ Train”) owns and/or operates various websites that permit users (hereinafter “Members” or “Users”) to submit or publish content (“User-Generated Websites”). Such websites may include, but are not limited to, message boards, blogs, social networks, and comment boards. By registering or using any User-Generated Websites, you accept and agree to the following Terms and conditions for User-Generated Content.</p>

<p><strong>Eligibility and registration</strong></p>
<p>As part of the registration process, you will be asked to select a username and password and you will be responsible for all activities occurring under your username and for keeping your password secure. We may refuse to grant you a username that impersonates someone else, is or may be protected by trademark or proprietary rights law, or is vulgar, offensive or otherwise inappropriate, as determined by us in our sole discretion. You are solely responsible for any and all uses of your username, password, and account.</p>

<p>Appropriate conduct and content; personal use only User-Generated Websites are made available for your personal, non-commercial use only. User-Generated Websites may not be used for any commercial or promotional purpose.</p>

<p>By acceptance of these User-Generated Websites Terms and Conditions, you agree that any information you provide about yourself and your pets is accurate and complete information at the time provided. In particular, you represent that you are 18 years of age or older. In addition, you agree to update any information provided to User-Generated Websites to keep it accurate and complete. If you become a member of a User-Generated Website, your failure to accurately and completely provide, and timely update, information about yourself is reasonable grounds for suspension or termination of your membership.</p>

<p>You may not use User-Generated Websites for any illegal or unauthorized purpose. International users agree to comply with all local rules regarding online conduct and acceptable content, including laws regulating the export of data from the United States or your country of residence. You are solely responsible for your conduct and any data, text, information, photos, links and other content (“Materials”) that you submit, post, and display on User-Generated Websites.</p>

<p>We may without notice to you, but shall have no obligation to, refuse, edit, and/or remove Materials that we determine in our sole discretion are unlawful, fraudulent, threatening, libelous, defamatory, obscene or otherwise objectionable, or infringing or violating any party’s intellectual property or other proprietary rights or these User-Generated Websites Terms and Conditions. We also reserve the right in our sole discretion to refuse, edit, and/or remove any content that may be deemed by any User-Generated Website community to be inappropriate without providing you notice.</p>

<p><strong>Children’s privacy</strong></p>
<p>We are committed to protecting the privacy of children. The User-Generated Websites are is not intended or designed to attract children under the age of 18. We do not collect personally identifiable information from any person we have actual knowledge is under the age of 18.

Examples of illegal or unauthorized uses include, but are not limited to:</p>
<p>Modifying, adapting, translating, or reverse engineering any portion of the User-Generated Websites; using any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of User-Generated Websites; collecting any information about other Members (including usernames and/or e-mail addresses) for unauthorized purposes; reformatting or framing any portion of the web pages or site images that are part of User-Generated Websites; creating user accounts by automated means or under false or fraudulent pretenses; creating or transmitting unwanted electronic communications such as “spam,” or chain letters to other Members or otherwise interfering with other Member’s enjoyment of the service; submitting Materials of any third party without such third party’s prior written consent; submitting Materials that falsely express or imply that such Materials are sponsored or endorsed by User-Generated Websites; submitting Materials that infringe, misappropriate or violate the intellectual property, publicity, privacy or other proprietary rights of any party; transmitting any viruses, worms, defects, Trojan horses or other items of a destructive nature; submitting Materials that are unlawful or promote or encourage illegal activity; displaying an advertisement as part of your or your pet’s profile; any automated use of the system, including the use of scripts to send messages or post comments; or submitting false or misleading information.</p>

<p>While Waggin’ Train prohibits such conduct and content on its User-Generated Websites, you understand and agree that you nonetheless may be exposed to such Materials and that you use User-Generated Websites at your own risk.</p>

<p><strong>Changes to Terms and Conditions for User-Generated Content</strong></p>
<p>We reserve the right to modify or terminate any User-Generated Website or service therein for any reason, and without notice, without liability to you, any other Member, or any third party. We also reserve the right to modify these Terms and Conditions for User-Generated Content from time to time without notice. You are responsible for regularly reviewing these Terms and Conditions for User-Generated Content so that you will be apprised of any changes.</p>

<p><strong>License to Use Materials</strong></p>
<p>By submitting, posting, or displaying any Materials on or through User-Generated Websites, you automatically grant Waggin’ Train a worldwide, non-exclusive, royalty-free, irrevocable license to publicly display or re-display such Materials on the User-Generated Websites website and in all other forms of media (including, without limitation, e-mail blasts and mobile or text messages or applications) that are used by Waggin’ Train or its agents in connection with the promotion, marketing, use, or expansion of any User-Generated Websites.</p>

<p>You represent to Waggin’ Train that you own all Materials you provide and/or have the unencumbered legal right to grant the above-referenced license with respect to all Materials you provide. You further represent to Waggin’ Train that such materials do not infringe any third party copyrights or other third party intellectual property rights. You agree to indemnify Waggin’ Train for any and all losses resulting from the invalidity or inaccuracy of such representation.</p>

<p>Except as expressly authorized by User-Generated Websites, you may not copy, modify, publish, transmit, distribute, perform, display or sell any of Waggin’ Train’s proprietary information, which includes the sum of all postings and photos to the site.</p>
<p>Please do not send to any User-Generated Website or post on any User-Generated Website forum anything that constitutes a trade secret, confidential or proprietary information. We are not in a position to accept such information, nor can we agree to obligations of nondisclosure or confidentiality with regard to submitted plans or ideas. You agree that any information or materials that you, or individuals acting on your behalf, provide to any User-Generated Website will not be considered confidential or proprietary.</p>

<p>User-Generated Websites includes information and content generated from a wide variety of sources, including board certified veterinarians, trainers, and other professional service providers, as well as, other Users. Users should understand that User-Generated Websites is a place to review and share information -- but the information has not been verified for accuracy and does not represent the opinions or positions of Waggin’ Train. Waggin’ Train cannot guarantee the timeliness, accuracy, efficacy, or veracity of any information provided at User-Generated Websites, nor the efficiency or applicability of any advice, opinions or content as they may be interpreted and applied to your pet. Waggin’ Train’s personnel are not and will not be responsible for any misleading, false, or otherwise injurious information and advice communicated on User-Generated Websites, or for any results obtained from the use of such information or advice. Waggin’ Train and its personnel will not be liable for any loss or damage suffered by a User through the User’s reliance on information, content and advice appearing on our website.</p>

<p>USER-GENERATED WEBSITES ARE BEING MADE AVAILABLE TO YOU “AS IS,” WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY KIND.</p>

<p><strong>Standard Terms and Conditions for Waggin’ Train Websites</strong></p>
<p>In addition to these User-Generated Websites Terms and Conditions, you agree to be bound by Waggin’ Train’s standard Terms and Conditions for its websites, as the same may be modified and updated from time to time, with respect to your use of User-Generated Websites.</p>

<p><strong>Copyright Infringement Notification</strong></p>

<p>Waggin’ Train LLC is committed to complying with U.S. copyright law and to respond to claims of copyright infringement. Waggin’ Train LLC will promptly process and investigate notices of alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act, Title 17, United States Code, Section 512(c) ("DMCA").</p>


<p>Pursuant to the DMCA, notifications of claimed copyright infringement should be sent to a Service Provider's Designated Agent. Notification must be submitted to the following Designated Agent for this site in the manner described below:</p>

<p>By Mail:<br />
Waggin’ Train LLC<br />
ATTN: Legal Department, DMCA Copyright Notices <br />
901 Chouteau Avenue<br />
St. Louis, MO 63164<br />
By Email: <a href="mailto:copyrightnotice@wtbrands.com">copyrightnotice@wtbrands.com</a></p>

<p>For your complaint to be valid under the DMCA, you must provide all of the following information when providing notice of the claimed copyright infringement:</p>

<p>1. A physical or electronic signature of a person authorized to act on behalf of the copyright owner;<br />
2. Identification of the copyrighted work claimed to have been infringed;<br />


3. Identification of the material that is claimed to be infringing or to be the subject of the infringing activity, and that is to be removed or access to which is to be disabled, as well as information reasonably sufficient to permit Waggin’ Train LLC to locate the material;<br />

4. Information reasonably sufficient to permit Waggin’ Train LLC to contact the copyright owner, such as an address, telephone number, and, if available, an electronic mail address;<br />

5. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law; and<br />



6. A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the copyright owner.<br />
For more details on the information required for valid notification, see 17 U.S.C. 512(c)(3).<br />
You should be aware that, under the DMCA, claimants who make misrepresentations concerning copyright infringement may be liable for damages incurred as a result of the removal or blocking of the material, court costs, and attorneys fees.</p>


        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="sidebar">
          <!-- Begin Sidebar Wholesome Snacks -->

          <div id="sidebar_healthy_snacks" class="margintop20">
            <a href="/snacks">LEARN ABOUT<br />
            WHOLESOME SNACKS</a>
          </div><!-- End Sidebar Wholesome Snacks -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="/natural-food-for-cats">LEARN ABOUT<br />
            NATURAL CAT FOOD<br />
            <span class="tiny_white_text">with vitamins and minerals</span></a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="/natural-food-for-dogs">LEARN ABOUT<br />
            NATURAL DOG FOOD<br />
            <span class="tiny_white_text">with vitamins and minerals</span></a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Right Column -->
      </div><!-- End Content -->

      <div id="clear_content"></div>
    </div><!-- End Content Wrap -->
