<div id="content" class="health_and_nutrition">
  <!-- Begin Content Wrap -->
  <div class="wrap">
    <div id="clear_content">
    </div>
    <!-- Begin Left Column -->
    <div class="leftcol625 retailers">
      <h1>
        Thank you for registering</h1>
    </div>
    <!-- End Left Column -->
    <!-- Begin Sidebar -->
    <div class="sidebar">
      <!-- Begin Sidebar Promo -->
      <div id="sidebar_promo" class="margintop20">
        <a href="@((string)TempData["coupon"])" target="_blank">TRY &amp;<br />
          <span>SAVE</span></a>
      </div>
      <!-- End Sidebar Promo -->
      <!-- Begin Sidebar Ingredient Dictionary -->
      <div id="sidebar_ingredient_dictionary">
        <a href="/ingredient-dictionary">Explore Healthy Benefits<br />
          with our<br />
          <span>INGREDIENTS DICTIONARY</span></a>
      </div>
      <!-- End Sidebar Ingredient Dictionary -->
      <!-- Begin Sidebar Natural Cat Food -->
      <div id="sidebar_natural_cat_food">
        <a href="/natural-food-for-cats">LEARN ABOUT<br />
          NATURAL CAT FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Cat Food -->
      <!-- Begin Sidebar Natural End Food -->
      <div id="sidebar_natural_dog_food">
        <a href="/natural-food-for-dogs">LEARN ABOUT<br />
          NATURAL DOG FOOD<br />
          <span class="tiny_white_text">plus vitamins and minerals</span></a>
      </div>
      <!-- End Sidebar Natural Dog Food -->
    </div>
    <!-- End Sidebar -->
  </div>
  <!-- End Content -->
</div>
<!-- End Content Wrap -->
