    <!-- Begin Content -->

    <div id="content" class="cats">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Banner -->

        <div class="banner">
          <!-- Begin Banner Image -->

          <div id="banner_image">
            <h3>Trusting their instincts</h3>

            <p>Cats are amazing companions. Inspired by their independent spirits, their gracefulness, and that intriguing way about them, our natural cat food recipes ensure that the journey we take with our cats is always wholesome, fascinating<br />
            and full of those fun little surprises.</p>
          </div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Full Width Column -->

        <div class="fullcol">
          <p>Everyone at Canyon Creek Ranch is proud to share this natural cat food and to be part of a community of people who are always in search of a better way for their cats.</p>

          <h2>PREMIUM CAT FOOD DRY VARIETIES</h2>

          <p>Each recipe has high-quality protein sources as the #1 ingredient and provides essential vitamins and minerals. Plus, every natural dry cat food recipe has recognizably real ingredients like diced zucchini and potatoes, easily digestible carbohydrate sources, antioxidants, and omega-rich fish oil. We offer simple, real ingredients for 100% complete and balanced nutrition.</p>

          <p>Our dry recipes contain no corn, no wheat, no soy, and no artificial colors, flavors, or preservatives added</p>

          <h2>NATURAL CANNED CAT FOOD</h2>

          <p>Each savory recipe provides healthy sources of protein with wholesome grains, antioxidants, and vegetables. And, all of our natural canned cat food meals are made with tomatoes, potatoes, carrots, and blueberry pomace. It’s a 100% complete and balanced meal for adult maintenance or growing kittens.</p>

          <p>Our canned recipes are formulated without corn, wheat, soy, or artificial colors or flavors added.</p>

          <ul class="tabs">
            <li><a href="#tab1">Dry Cat Food</a></li>

            <li><a href="#tab2">Canned Cat Food</a></li>
          </ul>

          <div class="pane">
            <a class="prev browse product_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse product_right"></a>
          </div>

          <div class="pane">
            <a class="prev browse product_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse product_right"></a>
          </div><!-- End Full Width Column -->
          <!-- Begin Left Column -->

          <div class="leftcol">
            <div id="snacks">
              <span class="large_white_text">SNACKS</span>

              <p>An incredible variety of all-natural pet snacks<br />
              made from only high quality ingredients.</p><a href="/snacks">LEARN MORE &#187;</a>
            </div>

            <h6 class="margintop40">What are pet owners saying?</h6>

            <div id="cat_video" class="margin10"></div>
          </div><!-- End Left Column -->
          <!-- Begin Right Column -->

          <div class="rightcol">
            <div id="natural_dog_food">
              <span class="large_white_text">NATURAL<br />
              DOG FOOD</span>

              <p>Made with only the highest quality protein for superior<br />
              digestibility, that naturally tastes good.</p><a href="/natural-food-for-dogs">LEARN MORE &#187;</a>
            </div>

            <div id="large_promo" class="margintop85">
              <p>Make the switch<br />
              to a better pet food</p><span class="large_brown_text"><a href="#">SAVE NOW</a></span>
            </div>
          </div><!-- End Right Column -->
        </div><!-- End Full Width Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->