    <!-- Begin Content -->

    <div id="content" class="dogs">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Banner -->

        <div class="banner">
          <!-- Begin Banner Image -->

          <div id="banner_image">
            <h3>Following Their Lead</h3>

            <p>It's the story of all of us, on a journey together. Our dogs will always inspire us with their warm spirits and that amazing bond that holds us together. Because of that strong connection, we stay on a path that allows us to offer a simple, natural dog food that our best pals love.</p>
          </div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Full Width Column -->

        <div class="fullcol">
          <p>Everyone at Canyon Creek Ranch is proud to share this natural dog food and to be part of a community of people who are always in search of a better way for their dogs.</p>

          <h2>NATURAL DRY DOG FOOD</h2>

          <p><em>plus vitamins and minerals</em></p>

          <p>Each recipe has high-quality protein sources as the #1 ingredient and provides all essential vitamins and minerals. Plus, every natural dry dog food recipe is made with recognizably real ingredients like whole peas and diced carrots, easily digestible carbohydrate sources, antioxidants, and omega-rich fish oil. We offer simple, real ingredients for real nutrition.</p>

          <p>Our dry recipes contain no corn, no wheat, no soy, and no artificial colors, flavors, or preservatives added.</p>

          <h2>NATURAL CANNED DOG FOOD</h2>

          <p><em>plus vitamins and minerals</em></p>

          <p>Each savory recipe provides healthy sources of protein with wholesome grains, antioxidants, and vegetables. And, all of our natural canned dog food meals are made with tomatoes, potatoes, carrots, and blueberry pomace. It’s a 100% complete and balanced meal for adult maintenance or growing puppies. Our canned recipes are formulated without corn, wheat, soy, or artificial colors or flavors</p>

          <ul class="tabs">
            <li><a href="#tab1">Dry Dog Food</a></li>

            <li><a href="#tab2">Canned Dog Food</a></li>
          </ul>

          <div class="pane">
            <a class="prev browse product_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse product_right"></a>
          </div>

          <div class="pane">
            <a class="prev browse product_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/dogs/dog-food-bag.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse product_right"></a>
          </div><!-- End Full Width Column -->
          <!-- Begin Left Column -->

          <div class="leftcol">
            <div id="snacks">
              <span class="large_white_text">SNACKS</span>

              <p>An incredible variety of all-natural pet snacks<br />
              made from only high quality ingredients.</p>@Html.ActionLink("LEARN MORE »", "snack", "Info")
            </div>

            <h6 class="margintop40">What are pet owners saying?</h6>

            <div id="cat_video" class="margin10"></div>
          </div><!-- End Left Column -->
          <!-- Begin Right Column -->

          <div class="rightcol">
            <div id="natural_cat_food">
              <span class="large_white_text">NATURAL<br />
              CAT FOOD</span>

              <p>Made with only the highest quality protein for superior<br />
              digestibility, that naturally tastes good.</p>@Html.ActionLink("LEARN MORE »", "snack", "Info")
            </div>

            <div id="large_promo" class="margintop85">
              <p>Make the switch<br />
              to a better pet food</p><span class="large_brown_text"><a href="#">SAVE NOW</a></span>
            </div>
          </div><!-- End Right Column -->
        </div><!-- End Full Width Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->