<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: CCR Natural Food For Dogs Page
URL of the webpage where the tag is expected to be placed: http://www.canyoncreekranch.com/natural-food-for-dogs
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 07/31/2012
-->
<script type="text/javascript">
  var axel = Math.random() + "";
  var a = axel * 10000000000000;
  document.write('<iframe src="http://fls.doubleclick.net/activityi;src=2649772;type=canyo518;cat=ccrna242;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
  <iframe src="http://fls.doubleclick.net/activityi;src=2649772;type=canyo518;cat=ccrna242;ord=1;num=1?"
    width="" height="1" frameborder="0" style="display: none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<!-- Begin Content -->
<div id="content" class="dogs">
  <!-- Begin Content Wrap -->
  <div class="wrap">
    <!-- Begin Banner -->
    <div class="banner">
      <!-- Begin Banner Image -->
      <div id="banner_image">
        <h3>
          Following their lead</h3>
        <p>
          It’s the story of all of us, on a journey together. Our dogs will always inspire
          us with their warm spirits and that amazing bond that holds us together. Because
          of that strong connection, we stay on a path that allows us to offer a simple, natural
          dog food with essential vitamins and minerals.</p>
        <p>
          Everyone at Canyon Creek Ranch is proud to share this natural dog food and to be
          part of a community of people who are always in search of a better way for their
          dogs.</p>
      </div>
      <!-- End Banner Image -->
    </div>
    <!-- End Banner -->
    <!-- Begin Full Width Column -->
    <div class="fullcol">
      <!-- Begin Product Slider -->
      <ul class="tabs">
        <li><a href="#tab1">Dry Food</a></li>
        <li><a href="#tab2">Canned Food</a></li>
      </ul>
      <div class="pane">
        <a class="prev browse product_left"></a>
        <div class="scrollable">
          @{Html.RenderAction("category", "category", new { url = "dry-dog-food" });}
          <h1>
            NATURAL DRY DOG FOOD</h1>
          <span class="tiny_brown_text marginbottom10">PLUS VITAMINS AND MINERALS</span>
          <p>
            Each savory mix has healthy protein sources like beef, chicken, turkey, or salmon
            as the #1 ingredient. Plus, every natural dry dog food mix is made with easily digestible
            carbohydrate sources, recognizably real ingredients like whole peas and diced carrots,
            antioxidants, and omega-rich fish oil. We offer simple, real ingredients with 100%
            complete and balanced nutrition for each life stage.</p>
          <p>
            Our dry recipes contain no corn, no wheat, no soy, and no artificial colors, flavors,
            or preservatives are added.</p>
        </div>
        <a class="next browse product_right"></a>
      </div>
      <div class="pane">
        <a class="prev browse product_left"></a>
        <div class="scrollable" style="height: 470px;">
          @{Html.RenderAction("category", "category", new { url = "canned-dog-food" });}
          <h2>
            NATURAL CANNED DOG FOOD</h2>
          <span class="tiny_brown_text marginbottom10">PLUS VITAMINS AND MINERALS</span>
          <p>
            Each savory recipe provides healthy protein sources like turkey, beef, chicken,
            or salmon as the #1 ingredient with wholesome grains, vegetables and antioxidants.
            And, all of our natural canned dog food meals are accented with carrots, potatoes,
            tomatoes, and blueberry pomace. Just like our dry recipes, we offer simple, real
            ingredients with 100% complete and balanced nutrition for maintenance of adult dogs
            and growing puppies.</p>
          <p>
            Our canned recipes are formulated without corn, wheat, or soy, and no artificial
            colors, flavors, preservatives are added.</p>
        </div>
        <a class="next browse product_right"></a>
      </div>
      <!-- End Product Slider -->
      <!-- Begin Left Column -->
      <div class="leftcol">
        <div id="snack_box">
          <span class="large_white_text">SNACKS</span>
          <p>
            An incredible variety of pet snacks<br />
            made with simple ingredients</p>
          <a href="/snacks">LEARN MORE &#187;</a>
        </div>
        <div id="cat_video" class="margintop40">
          <h6>
            What are pet owners saying?</h6>
          <a href="/our-story">
            <img src="../../img/shared/cheryl-video.jpg" /></a></div>
      </div>
      <!-- End Left Column -->
      <!-- Begin Right Column -->
      <div class="rightcol">
        <div id="natural_cat_food">
          <span class="large_white_text">NATURAL CAT FOOD</span><br />
          <span class="small_white_text_box">plus vitamins and minerals</span>
          <p>
            Complete nutrition with high levels of antioxidants
            <br />
            for overall health and wellness.</p>
          <a href="/natural-food-for-cats">LEARN MORE &#187;</a>
        </div>
        <div id="large_promo" class="margintop85">
          <span class="large_brown_text"><a href="@((string)TempData["coupon"])">TRY &amp; SAVE</a></span>
        </div>
      </div>
      <!-- End Right Column -->
    </div>
    <!-- End Full Width Column -->
  </div>
  <!-- End Content -->
</div>
<!-- End Content Wrap -->
