@model IEnumerable<Purina.CanyonCreekRanch.Common.Entities.Product>

@if (Model != null) {
  foreach (var item in Model) {
                    <li>@Html.ActionLink(item.Title, item.FriendlyUrl, "Product")</li>

                    <li>@Html.ActionLink(item.SubTitle, item.FriendlyUrl, "Product")</li>
  }
}

