<div id="content" class="snacks">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Featured -->

        <div class="banner">
          <!-- Banner Image -->

          <div id="banner_image">
            <h3>Wholesome Pet Snacks</h3>

            <p>Snack time is a special time between you and your dog. It’s all about smiling, wagging, and sharing the love.</p>
          </div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Full Width Column -->

        <div class="fullcol">
          <p>All of us are passionate about rewarding our dogs with the best of a playful and exciting world. That’s why we offer the fun, tasty, wholesome pet snacks they deserve. We use simple, natural ingredients, never adding artificial flavors or preservatives.</p>

          <p>Everyone at Canyon Creek Ranch is proud to share in those fun and rewarding moments, and to be part of a community always in search of a better way for their pets.</p>

          <p>Thank you for sharing!</p><!-- Begin Snack Tabs -->

          <ul class="tabs">
            <li><a href="#tab1">Snacks Category</a></li>

            <li><a href="#tab2">Snacks Category</a></li>

            <li><a href="#tab3">Snacks Category</a></li>

            <li><a href="#tab4">Snacks Category</a></li>
          </ul><!-- Begin Category 1 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse snack_right"></a>
          </div><!-- End Category 1 -->
          <!-- Begin Category 2 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse snack_right"></a>
          </div><!-- End Category 2 -->
          <!-- Begin Category 3 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse snack_right"></a>
          </div><!-- End Category 3 -->
          <!-- Begin Category 4 -->

          <div class="pane">
            <a class="prev browse left"></a>

            <div class="scrollable">
              <div class="items">
                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>

                <div>
                  <img src="/img/snacks/product-packaging.jpg" />

                  <p><em>Product name could be long &#187;</em></p>
                </div>
              </div>
            </div><a class="next browse snack_right"></a> <!-- End Category 4 -->
             <!-- End Snack Tabs -->
          </div><!-- End Full Width Column -->
          <!-- Begin Left Column -->

          <div class="leftcol">
            <div id="natural_dog_food">
              <span class="large_white_text">NATURAL DOG FOOD</span>

              <p>Made with only the highest quality protein for superior<br />
              digestibility, that naturally tastes good.</p><a href="/natural-food-for-dogs">LEARN MORE &#187;</a>
            </div>

            <h6 class="margintop40">What are pet owners saying?</h6>

            <div id="cat_video" class="margin10"></div>
          </div><!-- End Left Column -->
          <!-- Begin Right Column -->

          <div class="rightcol">
            <div id="natural_cat_food">
              <span class="large_white_text">NATURAL<br />
              CAT FOOD</span>

              <p>Made with only the highest quality protein for superior<br />
              digestibility, that naturally tastes good.</p><a href="/natural-food-for-cats">LEARN MORE &#187;</a>
            </div>

            <div id="large_promo" class="margintop85">
              <p>Make the switch<br />
              to a better pet food</p><span class="large_brown_text"><a href="#">SAVE NOW</a></span>
            </div>
          </div><!-- End Right Column -->
        </div><!-- End Full Width Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->