    <!-- Begin Content -->

    <div id="content" class="snacks">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Featured -->

        <div class="banner">
          <!-- Banner Image -->

          <div id="banner_image">
            <h3>Wholesome Pet Snacks</h3>

            <p>Snack time is a special time between you and your dog. It’s all about smiling, wagging, and sharing the love.</p>

            <p>All of us are passionate about rewarding our dogs with a playful and exciting world. That’s why we offer tasty, wholesome pet snacks made with simple ingredients.</p>

            <p>Everyone at Canyon Creek Ranch is proud to share in those fun and rewarding moments, and to be part of a community always in search of<br />
            a better way for their pets.</p>
          </div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Full Width Column -->

        <div class="fullcol">
          <!-- Begin Snack Tabs -->

          <ul class="tabs_snack">
            <li><a href="#tab1" class="proteins">Chicken, Duck, Turkey &amp; Pork</a></li>

            <li><a href="#tab2">Fruit &amp; Veggies</a></li>

            <li><a href="#tab3">Biscuits &amp; More</a></li>

            <li><a href="#tab4">Chews</a></li>

            <li><a href="#tab5">Variety</a></li>
          </ul><!-- Begin Category 1 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-chcken-duck-turkey-pork" });}
            </div>
            <a class="next browse snack_right"></a>
          </div><!-- End Category 1 -->
          <!-- Begin Category 2 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-fruit-veggies" });}
            </div>
            <a class="next browse snack_right"></a>
          </div><!-- End Category 2 -->
          <!-- Begin Category 3 -->

          <div class="pane">
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-biscuits-more" });}
            </div>
          </div><!-- End Category 3 -->
          <!-- Begin Category 4 -->

          <div class="pane">
          <a class="prev browse snack_left"></a>
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-chews" });}
            </div>
             <a class="next browse snack_right"></a>
            </div><!-- End Category 4 -->
          <!-- Begin Category 5 -->

          <div class="pane">
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-variety" });}
            </div>
          </div><!-- End Category 5 -->
          <!-- End Snack Tabs -->
          <!-- Begin Left Column -->

          <div class="leftcol">
            <div id="natural_dog_food">
            <span class="large_white_text">NATURAL DOG FOOD</span><br />
            <span class="small_white_text_box">plus vitamins and minerals</span>
            <p>High quality ingredients you want with none that you don't, <br />so you can see a real difference in your dog.</p><a href="/natural-food-for-dogs">LEARN MORE &#187;</a>
          </div>


            <div id="cat_video" class="margintop40">
            <h6>What are pet owners saying?</h6>
            <a href="/our-story"><img src= "../../img/shared/cheryl-video.jpg" /></a></div>
          </div><!-- End Left Column -->
          <!-- Begin Right Column -->

          <div class="rightcol">
            <div id="natural_cat_food">
            <span class="large_white_text">NATURAL CAT FOOD</span><br />
            <span class="small_white_text_box">plus vitamins and minerals</span>
            <p>Complete nutrition with high levels of antioxidants <br />for overall health and wellness.</p><a href="/natural-food-for-cats">LEARN MORE &#187;</a>
          </div>

            <div id="snack_family" class="margintop75">
              <p>You care about what you feed your dog, and that's why we're introducing a new look for our snacks. Our new packages will show everything right up front &#8212; from the recipe to the snacks themselves&#8212; so you can see what you're getting. Look for our delicious, wholesome snacks in new packages coming soon.</p>
            </div>

            <div id="large_promo" class="margintop85">
              <span class="large_brown_text"><a href="@((string)TempData["coupon"])">TRY &amp; SAVE</a></span>
            </div>
          </div><!-- End Right Column -->
        </div><!-- End Full Width Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
