    <!-- Begin Content -->

    <div id="content" class="snacks">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Featured -->

        <div class="banner">
          <!-- Banner Image -->

          <div id="banner_image">
            <h3>Wholesome Pet Snacks</h3>

            <p>Snack time is a special time between you and your dog. It’s all about smiling, wagging, and sharing the love.</p>

            <p>All of us are passionate about rewarding our dogs with a playful and exciting world. That’s why we offer tasty, wholesome pet snacks made with simple, natural ingredients.</p>

            <p>Everyone at Canyon Creek Ranch<sup>&reg;</sup> is proud to share in those fun and rewarding moments, and to be part of a community always in search of<br />
            a better way for their pets.</p>
          </div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Full Width Column -->

        <div class="fullcol">
          <!-- Begin Snack Tabs -->

          <ul class="tabs_snack">
            <li><a href="#tab1" class="proteins">Chicken, Duck, Turkey &amp; Pork</a></li>

            <li><a href="#tab2">Fruit &amp; Veggies</a></li>

            <li><a href="#tab3">Biscuits &amp; More</a></li>

            <li><a href="#tab4">Chews</a></li>

            <li><a href="#tab5">Variety</a></li>
          </ul><!-- Begin Category 1 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-chcken-duck-turkey-pork" });}
            </div>
            <a class="next browse snack_right"></a>
          </div><!-- End Category 1 -->
          <!-- Begin Category 2 -->

          <div class="pane">
            <a class="prev browse snack_left"></a>
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-fruit-veggies" });}
            </div>
            <a class="next browse snack_right"></a>
          </div><!-- End Category 2 -->
          <!-- Begin Category 3 -->

          <div class="pane">
            <a class="prev browse left"></a>
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-biscuits-more" });}
            </div>
            <a class="next browse snack_right"></a>
          </div><!-- End Category 3 -->
          <!-- Begin Category 4 -->

          <div class="pane">
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-chews" });}
            </div><!-- End Category 4 -->
          </div><!-- Begin Category 5 -->

          <div class="pane">
            <div class="scrollable">
            @{Html.RenderAction("category", "category", new { url = "snacks-variety" });}
            </div>
          </div><!-- End Category 5 -->
          <!-- End Snack Tabs -->
          <!-- Begin Left Column -->

          <div class="leftcol">
            <div id="natural_dog_food">
              <span class="large_white_text">NATURAL<br />
              DOG FOOD</span><br />
              <span class="small_white_text_box">with vitamins and minerals</span>

              <p>High quality ingredients you want with none of the<br />
              stuff you don’t, to make every bowl count.</p><a href="/natural-food-for-dogs">LEARN MORE &#187;</a>
            </div>

            <h6 class="margintop40">What are pet owners saying?</h6>

            <div id="cat_video" class="margin10"></div>
          </div><!-- End Left Column -->
          <!-- Begin Right Column -->

          <div class="rightcol">
            <div id="natural_cat_food">
              <span class="large_white_text">NATURAL<br />
              CAT FOOD</span><br />
              <span class="small_white_text_box">with vitamins and minerals</span>

              <p>Made with high quality protein sources for high<br />
              digestibility in a flavorful mix she'll enjoy.</p><a href="/natural-food-for-cats">LEARN MORE &#187;</a>
            </div>

            <div id="large_promo" class="margintop85">
              <p>Make the switch<br />
              to a better pet food</p><span class="large_brown_text"><a href="#">SAVE NOW</a></span>
            </div>
          </div><!-- End Right Column -->
        </div><!-- End Full Width Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
