@model IEnumerable<Purina.CanyonCreekRanch.Common.Entities.Category>
@using Purina.CanyonCreekRanch.Common.Entities

@if (Model != null) {
  foreach (var category in Model) {
    var once = true;
                  <ul>
                    <li><span class="product_category">@Html.ActionLink(category.Title, ((List<Product>)TempData[category.FriendlyUrl])[0].FriendlyUrl, "Product")</span></li>

    @foreach(var product in (IEnumerable<Product>)TempData[category.FriendlyUrl]) {
        if(category.Id != product.ProductCategory.Id && once) {
          once = false;
                    
                    <li><span class="product_category">@Html.ActionLink(product.ProductCategory.Title, product.FriendlyUrl, "Product")</span></li>
        }
                    <li>@Html.ActionLink(product.Title, product.FriendlyUrl, "Product")</li>
    }
                  </ul>
  }
}

