    <!-- Begin Content -->

    <div id="content" class="natural_dog">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin AddThis Button -->

        <div id="addthis">
          <div class="addthis_toolbox addthis_default_style addthis">
            <a href="http://www.addthis.com/bookmark.php?v=250&pubid=xa-4f7b288c1af4d69b" class="addthis_button_compact">Share</a> <span class="addthis_separator">|</span> <a class="addthis_button_preferred_1"></a> <a class="addthis_button_preferred_2"></a> <a class="addthis_button_preferred_3"></a> <a class="addthis_button_preferred_4"></a>
          </div><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f7b288c1af4d69b">
</script>
        </div><!-- End AddThis Button -->
        <hr />
        <!-- Begin Product -->
        <!-- Begin Product Left Navigation --><a href="#" class="arrows left"></a><!-- End Product Left Navigation -->

        <div class="product_content"><img src="img/cats/chicken-brown-rice-packaging.png" class="float_left" />

        <h1>Chicken & Brown Rice Mix</h1><span class="small_brown_text">With potatoes &amp; Zucchini</span>

        <p class="tag_line"><em>NATURAL DRY CAT FOOD FOR ADULT CATS<br />
        plus vitamins and minerals</em></p><img src="img/cats/chicken-brown-rice-ingredients.png" class="ingredients" />

        <p>Our savory Chicken &amp; Brown Rice Mix is full of nutrient-rich protein and whole grains. Made with antioxidants and essential vitamins, it's a well-round natural dry cat food for every day.</p>

        <ul class="product_list">
          <li>Chicken is the #1 ingredient</li>

          <li>High-quality proteins to support strong muscles, healthy heart, healthy immune system, healthy skin, and shiny coat</li>

          <li>Available in 2 lb., 5 lb., and 11 lb. bags</li>
        </ul><img src="img/cats/chicken-brown-rice-nutritionals.png" class="nutritionals" /></div><!-- End Product -->
        <!-- Begin Product Right Navigation --><a href="#" class="arrows right"></a><!-- End Product Right Navigation -->
        <hr />
        <!-- Begin Full Width Column -->

        <div class="fullcol marginbottom20">
          <!-- Begin Product Tabs -->

          <ul class="tabs">
            <li><a href="#tab1">Recognizably Real</a></li>

            <li><a href="#tab2">Our Ingredients</a></li>

            <li><a href="#tab3">Our Guarantee</a></li>

            <li class="last"><a href="#tab4">Feeding Guidelines</a></li>
          </ul><!-- End Product Tabs -->
          <!-- Begin Recognizably Real Content -->

          <div class="pane">
            <!-- Begin Left Column -->

            <div class="leftcol">
              <img src="img/shared/zucchini.png" class="margin10" />

              <p>Made with diced potatoes and zucchini, these wholesome, recognizably real ingredients create a more flavorful and satisfying food experience for our cats. Additional protein-rich, real ingredients like whole egg, plant-based pea protein, and brewers dried yeast help to support our dogs' overall health.</p>
            </div><!-- End Left Column -->
            <!-- Begin Right Column -->

            <div class="rightcol"><img src="img/dogs/pea-pods.jpg" class="margin10 padding30" /> <img src="img/dogs/carrots.jpg" /></div><!-- End Right Column -->
          </div><!-- End Recognizably Real Content -->
          <!-- Begin Our Ingredients Content -->

          <div class="pane">
            <!-- Begin Left Column -->

            <div class="leftcol">
              <span class="small_brown_text">Ingredients:</span>

              <p>Chicken, chicken meal, brewers rice, barley, dried egg product, brown rice, beef fat preserved with mixed-tocopherols (form of Vitamin E), pea protein, natural flavor, brewers dried yeast, potatoes, zucchini, canola meal, sodium caseinate, gelatin, malted barley flour, L-Lysine monohydrochloride, salt, phosphoric acid, potassium chloride, zinc proteinate, taurine, calcium carbonate, choline chloride, Vitamin E supplement, DL-Methionine, manganese proteinate, ferrous sulfate, niacin, copper proteinate, Vitamin A supplement, calcium pantothenate, thiamine mononitrate, riboflavin supplement, Vitamin B-12 supplement, pyridoxine hydrochloride, folic acid, Vitamin D-3 supplement, calcium iodate, biotin, menadione sodium bisulfite complex (source of Vitamin K activity), sodium selenite.</p>

              <div id="ingredient_dictionary">
                <a href="ingredient-dictionary.html">Explore Healthy Benefits<br />
                with our<br />
                <span class="small_white_text">INGREDIENTS DICTIONARY</span></a>
              </div>
            </div><!-- End Left Column -->
            <!-- Begin Right Column -->

            <div class="rightcol">
              <span class="small_brown_text">CHICKEN IS THE #1 INGREDIENT</span>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><span class="small_brown_text">WHOLE GRAIN BROWN RICE</span>

              <p>Easily digestible, high-quality sources of carbohydrate for energy, not filler</p><span class="small_brown_text">WHOLE EGG</span>

              <p>Nutrient-rich protein sources to help maintain healthy skin and shiny coat</p><span class="small_brown_text">34% PROTEIN</span>

              <p>Rich in high-quality sources of protein to help meet your cat’s unique metabolic needs</p><span class="small_brown_text">REAL INGREDIENTS. REAL NUTRITION.</span>

              <p>Real ingredients like diced potatoes and zucchini, plus a recipe rich in vitamins, minerals, and antioxidants to help support your cat's overall health</p>
            </div><!-- End Right Column -->
          </div><!-- End Our Ingredients Content -->
          <!-- Begin Our Guarantee Content -->

          <div class="pane">
            <!-- Begin Left Column -->

            <div class="leftcol">
              <h2>GUARANTEED ANALYSIS</h2>

              <table border="0" cellspacing="0" cellpadding="0" width="460">
                <tr class="on">
                  <td>Crude Protein (Min)</td>

                  <td class="align_right">34.0%</td>
                </tr>

                <tr class="off">
                  <td>Crude Fat (Min)</td>

                  <td class="align_right">15.0%</td>
                </tr>

                <tr class="on">
                  <td>Crude Fiber (Max)</td>

                  <td class="align_right">3.0%</td>
                </tr>

                <tr class="off">
                  <td>Moisture (Max)</td>

                  <td class="align_right">12.0%</td>
                </tr>

                <tr class="on">
                  <td>Linoleic Acid (Min)</td>

                  <td class="align_right">1.5%</td>
                </tr>

                <tr class="off">
                  <td>Calcium (Ca) (Min)</td>

                  <td class="align_right">1.0%</td>
                </tr>

                <tr class="on">
                  <td>Phosphorus (P) (Min)</td>

                  <td class="align_right">0.9%</td>
                </tr>

                <tr class="off">
                  <td>Vitamin A (Min)</td>

                  <td class="align_right">10,000 IU/kg</td>
                </tr>

                <tr class="on">
                  <td>Vitamin E (Min)</td>

                  <td class="align_right">250 IU/kg</td>
                </tr>

                <tr class="off">
                  <td>Taurine (Min)</td>

                  <td class="align_right">0.15%</td>
                </tr>
              </table>
            </div><!-- End Left Column -->
            <!-- Begin Right Column -->

            <div class="rightcol">
            <h2>OUR BETTER WAY guarantee</h2>

            <p>If this food has not met your expectations, we will refund the amount of your purchase. Just send us the "BEST BY" date box and UPC from the bag with your original store receipt (with price circled), your name, address and reason for return.</p>

            <h5><a href="satisfaction-guarantee.html">LEARN MORE &#187;</a></h5><img src="img/shared/satisfaction-guarantee.png" class="satisfaction" /></div><!-- End Right Column -->
          </div><!-- End Our Guarantee Content -->
          <!-- Begin Feeding Guideline Content -->

          <div class="pane">
            <!-- Begin Left Column -->

            <div class="leftcol">
              <h2>RECOMMENDED DAILY FEEDING DIRECTIONS</h2>

              <table border="0" cellspacing="0" cellpadding="0" width="460">
                <tr class="on">
                  <td><span class="small_brown_text">Weight (lbs)</span></td>

                  <td><span class="small_brown_text">Feeding Amount (cups)</span></td>
                </tr>

                <tr class="off">
                  <td>3 - 12</td>

                  <td>1/2 - 1</td>
                </tr>

                <tr class="on">
                  <td>13 - 2-</td>

                  <td>1 - 1-1/2</td>
                </tr>

                <tr class="off">
                  <td>21 - 35</td>

                  <td>1-1/2 - 2</td>
                </tr>

                <tr class="on">
                  <td>36 - 50</td>

                  <td>2 - 2-1/2</td>
                </tr>

                <tr class="off">
                  <td>51 - 75</td>

                  <td>2-1/2 - 3-1/2</td>
                </tr>

                <tr class="on">
                  <td>76 - 100</td>

                  <td>3-1/2 - 4</td>
                </tr>
              </table>
            </div><!-- End Left Column -->
          </div><!-- End Feeding Guideline Content -->
          <!-- End Product Tab Content -->
        </div><!-- End Full Width Column -->
        <hr class="margin40" />
        <!-- Begin Left Column -->

        <div class="leftcol">
          <div id="snacks">
            <span class="large_white_text">SNACKS</span>

            <p>An incredible variety of all-natural pet snacks<br />
            made from only high quality ingredients.</p><a href="snacks.html">LEARN MORE &#187;</a>
          </div>
        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="rightcol">
          <div id="large_promo">
            <p>Make the switch<br />
            to a better pet food</p><span class="large_brown_text"><a href="#">SAVE NOW</a></span>
          </div>
        </div><!-- End Right Column -->
        <!-- Begin Clear Content -->

        <div id="clear_content"></div><!-- End Clear Content -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
