    <!-- Begin Content -->

    <div id="content" class="holistic">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Banner -->

        <div class="banner">
          <!-- Begin Banner Image -->

          <div id="banner_image"></div><!-- End Banner Image -->
        </div><!-- End Banner -->
        <!-- Begin Left Column -->
        <hr />

        <div class="leftcol625">
          <h1>Simple is real.</h1>

          <p>Simple is real. Keeping it simple with real, natural ingredients is something we truly believe in. Keeping it simple with real, natural ingredients is something we truly believe in. Our philosophy for healthy pet food and snacks comes from the inspiring lives we share with our dogs and cats. The moment we see that playful, lovable, free spirit in each of our pets, we seek out the right nutrition to support and complement that personality and way of life.</p>
        </div><!-- End Left Column -->
        <!-- Begin Sidebar -->

        <div class="sidebar">
          <!-- Begin Ingredient Dictionary -->

          <div id="sidebar_ingredient_dictionary">
            <a href="ingredient-dictionary.html">Explore Healthy Benefits<br />
            with our<br />
            <span>INGREDIENTS DICTIONARY</span></a>
          </div><!-- End Ingredient Dictionary -->
          <!-- Begin Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="natural-food-for-cats.html">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Natural Cat Food -->
          <!-- Begin Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="natural-food-for-dogs.html">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Natural Dog Food -->
          <!-- Begin Promo -->

          <div id="sidebar_promo">
            <a href="#">SAVE<br />
            <span>NOW</span></a>
          </div><!-- End Promo -->
        </div><!-- End Sidebar -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->