    <!-- Begin Content -->

    <div id="content" class="health_and_nutrition">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Left Column -->

        <div class="leftcol625 margintop40">
          <h1>Ingredient Dictionary</h1><img src="img/shared/real-ingredients.png" class="margin10" alt="Real Ingredients" />

          <p>Choose an ingredient from the list on the left for a description of the ingredient's nutritional elements, how it benefits specific parts of your pet's body, and which Canyon Creek Ranch formulas contain the selected ingredient.</p><img src="img/health/formulated.jpg" class="margin10" alt="Formulated with" />

          <p class="small_brown_text">INGREDIENTS</p>

          <div id="ingredient_list">
            <ul id="ingredients">
              <li><a href="#barley">Barley</a></li>

              <li><a href="#beef">Beef</a></li>

              <li><a href="#biotin">Biotin</a></li>

              <li><a href="#brown_rice">Brown Rice</a></li>

              <li><a href="#chicken">Chicken</a></li>

              <li><a href="#dried_sweet_potatoes">Dried Sweet<br />
              Potatoes</a></li>

              <li><a href="#barley">Barley</a></li>

              <li><a href="#beef">Beef</a></li>

              <li><a href="#biotin">Biotin</a></li>

              <li><a href="#brown_rice">Brown Rice</a></li>

              <li><a href="#chicken">Chicken</a></li>

              <li><a href="#dried_sweet_potatoes">Dried Sweet<br />
              Potatoes</a></li>

              <li><a href="#barley">Barley</a></li>

              <li><a href="#beef">Beef</a></li>

              <li><a href="#biotin">Biotin</a></li>

              <li><a href="#brown_rice">Brown Rice</a></li>

              <li><a href="#chicken">Chicken</a></li>

              <li><a href="#dried_sweet_potatoes">Dried Swee<br />
              Potatoes</a></li>

              <li><a href="#barley">Barley</a></li>

              <li><a href="#beef">Beef</a></li>

              <li><a href="#biotin">Biotin</a></li>

              <li><a href="#brown_rice">Brown Rice</a></li>

              <li><a href="#chicken">Chicken</a></li>

              <li><a href="#dried_sweet_potatoes">Dried Sweet<br />
              Potatoes</a></li>
            </ul><!-- End Ingredient List -->
          </div>

          <div class="ingredient_dictionary list">
            <div id="barley">
              <h1>Barley</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="beef">
              <h1>Beef</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="biotin">
              <h1>Biotin</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="brown_rice">
              <h1>Brown Rice</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="chicken">
              <h1>Chicken</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="dried_sweet_potatoes">
              <h1>Dried Sweet Potatoes</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="barley">
              <h1>Barley</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="beef">
              <h1>Beef</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="biotin">
              <h1>Biotin</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="brown_rice">
              <h1>Brown Rice</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="chicken">
              <h1>Chicken</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="dried_sweet_potatoes">
              <h1>Dried Sweet Potatoes</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="barley">
              <h1>Barley</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="beef">
              <h1>Beef</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="biotin">
              <h1>Biotin</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="brown_rice">
              <h1>Brown Rice</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="chicken">
              <h1>Chicken</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>

            <div id="dried_sweet_potatoes">
              <h1>Dried Sweet Potatoes</h1>

              <p class="small_brown_text">Contributes to your pet's wellness in these areas:</p>

              <p>High-quality protein to help support strong muscles, healthy heart and immune system</p><img src="img/health/health-benefits.png" class="margin20" />

              <p class="small_brown_text">What it contributes:</p>

              <p>Carbohydrate and source of energy</p>

              <p class="small_brown_text">Benefits:</p>

              <ul class="product_list">
                <li>Promotes digestive health</li>

                <li>Provides carbohydrate that can be used for energy</li>

                <li>Provides Linoleic Acid, an essential Omega fatty acid for skin and coat</li>
              </ul>

              <p class="small_brown_text">canyon creek ranch products with Brown Rice:</p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>

              <p><strong><em>Natural Food for Dogs</em></strong></p>

              <p><strong><em>Natural Food for Cats</em></strong></p>
            </div>
          </div>
        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="sidebar margintop60">
          <!-- Begin Sidebar Healthy Snacks -->

          <div id="sidebar_healthy_snacks">
            <a href="snacks.html">LEARN ABOUT<br />
            HEALTHY SNACKS</a>
          </div><!-- End Sidebar Healthy Snacks -->
          <!-- Begin Sidebar Natural Cat Food -->

          <div id="sidebar_natural_cat_food">
            <a href="natural-food-for-cats.html">LEARN ABOUT<br />
            NATURAL CAT FOOD</a>
          </div><!-- End Sidebar Natural Cat Food -->
          <!-- Begin Sidebar Natural Dog Food -->

          <div id="sidebar_natural_dog_food">
            <a href="natural-food-dogs.html">LEARN ABOUT<br />
            NATURAL DOG FOOD</a>
          </div><!-- End Sidebar Natural Dog Food -->
        </div><!-- End Right Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->