@model Purina.CanyonCreekRanch.Admin.Models.PageContentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Page Content</legend>

    <div class="display-label">Page</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Page)
    </div>
    
    <div class="display-label">Meta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meta)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
