    <!-- Begin Content -->

    <div id="content" class="home">
      <!-- Begin Content Wrap -->

      <div class="wrap">
        <!-- Begin Home Left Navigation --><a class="prev arrows left"></a><!-- End Home Left Navigation -->
         <!-- Begin Featured -->

        <div class="featured slide">
          <!-- Begin Slider Images -->

          <div id="home_slider">
            <!-- Begin Slide 1 -->

            <div class="slide1">

              <h3>A BETTER WAY IS ON THE HORIZON<sup>&trade;</sup></h3>

              <p>There's a spirit that defines us at Canyon Creek Ranch<sup>&reg;</sup>. It's about being wide open to possibilities, setting forth in a new direction, pioneering a better way of doing things. We create natural pet food and wholesome pet snacks for pets and owners just like us.</p>

              <h5><a href="/our-story">Hear the Canyon Creek Ranch story &#187;</a></h5>
            </div><!-- End Slide 1 -->
            <!-- Begin Slide 2 -->

            <div class="slide2">
              <h3>NOURISH THE BOND YOU SHARE</h3>

              <p>At Canyon Creek Ranch, we put pet nutrition first, because proper pet nutrition nourishes the bond we share. Our natural pet food for dogs and cats is made with high quality ingredients and has all the great taste your pet deserves.</p>

              <h5><a href="/natural-food-for-dogs">Learn more about our healthy dog food &#187;</a><br />
                <a href="/natural-food-for-cats">Learn more about our healthy cat food &#187;</a></h5>
            </div><!-- End Slide 2 -->
            <!-- Begin Slide 3 -->

            <div class="slide3">
              <h3>ANY JOURNEY IS BETTER WITH YOUR BEST FRIEND</h3>

              <p>At Canyon Creek Ranch, we believe in a holistic living approach that improves the life you share together.</p> 
               <h5><a href="/snacks">Discover more about holistic living with your pet &#187;</a></h5>
            </div><!-- End Slide 3 -->
             <!-- Begin Slide 4 -->

            <div class="slide4">
              <h3>NUTRITION FRONT AND CENTER</h3>

              <p>At Canyon Creek Ranch, we put pet nutrition first, because proper pet nutrition nourishes the bond we share. Our natural pet food for dogs and cats is made with high quality ingredients and has all the great taste your pet deserves.</p>

              <p>When it comes to providing health and nutrition for your pet, we don’t just say it. We show it. Our recipe is on the front of the bag, not pushed to the back. Our food isn’t hidden inside the bag — we let you see the real thing up front. Read more about our ingredients and the <a href="/health-and-nutrition">nutrition of our products.</a></p>
            </div><!-- End Slide 4 -->
          </div><!-- End Slider Images -->
          <!-- Begin Slider Navigation -->

          <div id="home_slider_nav">
            <div class="navi">
              <a class="home_tab active"><span class="tiny_white_text">A better way</span><br />
              <span class="align_left paddingtop10">Hear the Canyon Creek Ranch story.<sup>&trade;</sup></span></a> 
              <a class="home_tab"><span class="tiny_white_text">Nourish your bond</span><br />
              <span class="align_left paddingtop10">Learn more about our healthy dog food and healthy cat food.</span></a> 
              <a class="home_tab"><span class="tiny_white_text">Journey together</span><br />
              <span class="align_left paddingtop10">Discover holistic living with your pet.</span></a>
              <a class="home_tab"><span class="tiny_white_text">Nutrition front and center</span><br />
              <span class="align_left paddingtop10">Read more about our ingredients and nutrition. </span></a>
            </div>
          </div><!-- End Slider Navigation -->
        </div><!-- End Featured -->
        <!-- Begin Home Right Navigation --><a class="next arrows right"></a><!-- End Home Right Navigation -->
        <hr />
        <!-- Begin Left Column -->

        <div class="leftcol">
          <img src="/img/home/real-ingredients-home.png" class="ingredients" alt="Real Ingredients" />

          <h1>Natural Pet Food with<br />
          Recognizably Real Ingredients</h1>

          <p>Our natural pet food provides nutrition for the journey ahead.  But we didn’t stop there. We have crafted each recipe to include recognizably real ingredients, creating a tasty, satisfying food experience for your pet.</p>
<p>We put the ingredient list front &amp; center on our bags, because we believe in it. WE back our food with our Better Way Guarantee. And let it be known, we’re not afraid of change when it comes to providing an excellent premium pet food.</p>
<h2>Wholesome Pet Snacks for Your Best Friend</h2>
<p>Canyon Creek Ranch provides high quality pet snacks you can feel good about giving your dog. Available in tasty varieties, you can see we enjoy creating wholesome snacks that are just plain fun to share. And our pet snacks are made with natural ingredients.</p>


          <div id="large_promo" class="margin30">
            <span class="large_brown_text"><a href="#">TRY &amp; SAVE</a></span>
          </div>
         
        </div><!-- End Left Column -->
        <!-- Begin Right Column -->

        <div class="rightcol">
          <div id="natural_dog_food">
            <span class="large_white_text">NATURAL DOG FOOD</span><br />
            <p>High quality ingredients you want with none that you don't, <br />so you can see a real difference in your dog.</p><a href="/natural-food-for-dogs">LEARN MORE &#187;</a>
          </div>

          <div id="natural_cat_food" class="margin10">
            <span class="large_white_text">NATURAL CAT FOOD</span><br />
            <p>Made with only the highest quality protein for superior<br /> digestibility, that naturally tastes good.</p><a href="/natural-food-for-cats">LEARN MORE &#187;</a>
          </div>

           <div id="snack_box" class="margin10">
            <span class="large_white_text">SNACKS</span>

            <p>An incredible variety of natural pet snacks<br />made from only high quality ingredients.</p><a href="/snacks">LEARN MORE &#187;</a>
          </div>
          
        </div><!-- End Right Column -->
      </div><!-- End Content -->
    </div><!-- End Content Wrap -->
    <!-- Begin Clear Content -->

        <div id="clear_content"></div><!-- End Clear Content -->