<div id="content" class="home">
    <div class="wrap">
      <!-- Begin Home Left Navigation --><a class="prev arrows left"></a><!-- End Home Left Navigation -->
        <!-- Begin Featured -->

      <div class="featured slide">
        <!-- Begin Slider Images -->

        <div id="home_slider">
          <!-- Begin Slide 1 -->

          <div class="slide1">
            <h3>A better way is on the horizon</h3>

            <p>There's a spirit that defines us at Canyon Creek Ranch. It’s about being wide open to possibilities, setting forth in a new direction, pioneering a new way of doing things.</p>

            <p>We create natural pet food and healthy pet snacks for pets and owners just like us.</p>

            <h5><a href="/our-story">LEARN the canyon creek ranch story &#187;</a></h5>
          </div><!-- End Slide 1 -->
          <!-- Begin Slide 2 -->

          <div class="slide2">
            <h3>A better way is on the horizon</h3>

            <p>There's a spirit that defines us at Canyon Creek Ranch. It’s about being wide open to possibilities, setting forth in a new direction, pioneering a new way of doing things.</p>

            <p>We create natural pet food and healthy pet snacks for pets and owners just like us.</p>

            <h5><a href="/our-story">LEARN the canyon creek ranch story &#187;</a></h5>
          </div><!-- End Slide 2 -->
          <!-- Begin Slide 3 -->

          <div class="slide3">
            <h3>A better way is on the horizon</h3>

            <p>There's a spirit that defines us at Canyon Creek Ranch. It’s about being wide open to possibilities, setting forth in a new direction, pioneering a new way of doing things.</p>

            <p>We create natural pet food and healthy pet snacks for pets and owners just like us.</p>

            <h5><a href="our-story">LEARN the canyon creek ranch story &#187;</a></h5>
          </div><!-- End Slide 3 -->
        </div><!-- End Slider Images -->
        <!-- Begin Slider Navigation -->

        <div id="home_slider_nav">
          <div class="navi">
            <a class="home_tab"><span class="tiny_white_text">OUR STORY</span><br />
            <span class="align_left paddingtop10">A better way is on the horizon™</span></a> <a class="home_tab"><span class="tiny_white_text">HEALTH &amp; NUTRITION</span><br />
            <span class="align_left paddingtop10">Nourish the bond you share.</span></a> <a class="home_tab"><span class="tiny_white_text">SNACKS</span><br />
            <span class="align_left paddingtop10">Any journey is better with your best friend.</span></a>
          </div>
        </div><!-- End Slider Navigation -->
      </div><!-- End Featured -->
      <!-- Begin Home Right Navigation --><a class="next arrows right"></a><!-- End Home Right Navigation -->
      <hr />
      <!-- Begin Left Column -->

      <div class="leftcol">
        <div id="natural_dog_food">
          <span class="large_white_text">NATURAL<br />
          DOG FOOD</span>

          <p>High quality ingredients you want with none that you don’t,<br />
          so you can see a real difference in your dog.</p><a href="/natural-food-for-dogs">LEARN MORE &#187;</a>
        </div><img src="/img/shared/real-ingredients.png" class="ingredients" />

        <h1>Natural Pet Food with<br />
        Recognizably Real Ingredients</h1>

        <p>Our natural pet food for dogs and cats provides superior nutrition for the journey each and every day. But we didn’t stop at that. Each formula includes recognizably real ingredients, creating a more satisfying food experience for our pets.</p>

        <p>We put the ingredient list front and center, because we believe in it. We proudly show everything that’s in our foods, and everything that’s not. We back every bag with our Better Way Guarantee. And let it be known, we’re not afraid of change if it means providing an even better premium pet food.</p>

        <h2>Wholesome Pet Snacks for Your Best Friend</h2>

        <p>Canyon Creek Ranch provides high quality pet snacks you can feel good about giving your dog. Always all-natural, other cue word and never this ingredient, all with variety that blazes new trails, you can see we enjoy creating wholesome snacks that are just plain fun to share.</p>
      </div><!-- End Left Column -->
      <!-- Begin Right Column -->

      <div class="rightcol">
        <div id="natural_cat_food">
          <span class="large_white_text">NATURAL<br />
          CAT FOOD</span>

          <p>Made with only the highest quality protein for superior<br />
          digestibility, that naturally tastes good.</p><a href="/natural-food-for-cats">LEARN MORE &#187;</a>
        </div>

        <div id="snacks" class="margin20">
          <span class="large_white_text">SNACKS</span>

          <p>An incredible variety of all-natural pet snacks<br />
          made from only high quality ingredients.</p><a href="/snacks">LEARN MORE &#187;</a>
        </div>

        <div id="large_promo">
          <p>Make the switch<br />
          to a better pet food</p><span class="large_brown_text"><a href="#">SAVE NOW</a></span>
        </div>
      </div><!-- End Right Column -->
    </div><!-- End Content -->
</div>